.card_backgroundImg::after {
    content: "";
    background: url('../../../../../../../public/images/serviceBackground.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    width: 30%;
    // height: 100%;
    top: 50;
    right: 0;
    z-index: -1;
}
.card{
    border-radius: 10px;
    border: 0px;
    box-shadow: 0px 0px 6px 1px #f0ecec;
    padding: 30px;
    max-width: 75%;
    margin: 0 auto;
}
.card h4{
    text-align: center;
    color: #008CAC;
    font-weight: bold;
    font-size: 30px;
}
.service-list{
    display: flex;
    justify-content: space-between;
    // padding-bottom: 10px; /* Optional: spacing below content */
  margin-bottom: 10px; /* Optional: spacing between items */
  position: relative; /* Required for pseudo-element positioning */
}
.service-list:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; /* Line spans the entire width */
    height: 1px; /* Thickness of the line */
    background-color: #ccc; /* Line color */
  }