<app-page-breadcrumb></app-page-breadcrumb>
<div class="container">
    <div class="card_backgroundImg">
        <div class="row">
            <div class="col-12 mt-5">
                <div class="card" >
                    <ng-container *ngFor="let service of serviceListRate; let last = last">
                    <h4>{{ service.categoryName }}</h4>
                    <div class="service-list" *ngFor="let category of service.subCategories">
                      <p>{{ category.subCategoryName }}</p>
                      <p>₹{{ category.firstPrice }}</p>
                    </div>
                    <hr *ngIf="!last">
                </ng-container>
                  </div>
                  
            </div>
        </div>
    </div>
</div>