.card_backgroundImg::after {
    content: "";
    background: url('../../../../../../../public/images/serviceBackground.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    width: 30%;
    height: 100%;
    top: 50;
    right: 0;
    z-index: -1;
}
.card{
    border-radius: 10px;
    border: 0px;
    box-shadow: 0px 0px 6px 1px #f0ecec;
    padding: 30px;
    max-width: 75%;
    margin: 0 auto;
}
.card h4{
    text-align: center;
}
.service-list{
    display: flex;
    justify-content: space-around;
}