<app-page-breadcrumb></app-page-breadcrumb>
<div class="container">
    <div class="card_backgroundImg">
        <div class="row">
            <div class="col-12 mt-5">
                <div class="card">
                    <h4>it rental</h4>
                        <div class="service-list"><p>Laptop</p>
                        <p>500</p>
                        </div>
                    <div class="service-list"><p>Mobile</p>
                        <p>10000</p></div>
                    <div class="service-list"><p>Cpu</p>
                        <p>500</p></div>
                </div>
            </div>
        </div>
    </div>
</div>