<app-page-breadcrumb></app-page-breadcrumb>

<div class="container mt-5">
    <div class="row flex-row-reverse justify-content-between">
        <div class="col-md-7 order-1 order-md-2 cards mb-2 py-2">
            <h5><strong>My Cart</strong> </h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">services</th>
                        <th scope="col">price</th>
                        <th scope="col">quantity</th>
                        <th scope="col">sub-total</th>
                    </tr>
                </thead>
                <tbody>
                    @if (cartItems.length) {
                    @for(cart of cartItems; track cart){
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <span class="mx-1" (click)="removeCartItems(cart)"><i
                                        class="fa-regular fa-circle-xmark"></i></span>
                                <img class="mx-1 img-fluid rounded" style="max-width:40px; height: 100%"
                                    [src]="cart.img">
                                {{cart.productTitle}}
                            </div>
                        </td>
                        <td>{{cart.currency}} {{cart.price}}</td>
                        <td>
                            <div class="input-group mb-3" style="max-width: 200px">
                                <button class="input-group-text" [disabled]="+cart.quantity <= 1"
                                    (click)="changeQuantity(cart, -1)">-</button>
                                <input type="text" class="px-1 text-center form-control" #input
                                    (ngModelChange)="onInputChange($event, input)" [(ngModel)]="cart.quantity">
                                <button class="input-group-text" (click)="changeQuantity(cart, 1)">+</button>
                            </div>
                        </td>
                         <td>{{cart.currency}} {{cart.price * (+cart.quantity)}}</td>
                    </tr>
                    }
                    }
                    @else {
                    <tr class="text-center">
                        <td colspan="4"> <strong class="text-danger">Data Not Found</strong> </td>
                    </tr>
                    }
                </tbody>
            </table>
            <div class="update-cart d-flex justify-content-end">
                <button (click)="updateCart()">Update Cart</button>
            </div>
        </div>
        <div class="col-md-4 order-3 order-md-1 cards mb-2">

            <div class="p-2">
                <h5> <strong>Card Totals</strong></h5>
                <div class="d-flex justify-content-between font py-1">
                    <span>Sub-total</span>
                    <strong>{{sabTotal}}</strong>
                </div>
                <div class="d-flex justify-content-between font">
                    <span>Your total Saving</span>
                    <strong> {{sabTotalSaving}}</strong>
                </div>
                <div class="d-flex justify-content-between font py-1">
                    <span>Taxes & Fee</span>
                    <strong> {{totalTaxAmount}}</strong>
                </div>
                <hr>
                <b class="d-flex justify-content-between">
                    <span>Total</span>
                    <span> {{AmountToCheckout}}</span>
                </b>
                <div class="proceedToCheckout py-2">
                    <button (click)="proceedToCheckout(cartItems)">Proceed To Checkout <i
                            class="fa-solid fa-arrow-right-long"></i></button>
                </div>
            </div>
        </div>
        <div class="col-md-4 order-2 order-md-3 cards mb-2">
            @for (item of OfferAndCoupon; track item) {
            <div class="p-2 apply-coupon">
                <h5> <strong>Coupon Code</strong></h5>
                <div class="d-flex justify-content-between">
                    <input type="text" class="px-1 form-control w-50" placeholder="Enter Code">
                    <div class="d-flex align-items-center">
                        <button>Apply</button>
                    </div>
                </div>
                <hr>
                <div class="d-flex justify-content-between">
                    <div class="d-flex">
                        <div class="d-flex align-items-center">
                            <img [src]="item.icon" alt="" style="width: 100%; height: 45px;">
                        </div>
                        <p class="d-flex flex-column font px-4">
                            <strong> {{item.title}} </strong>
                            <span class="text-muted font-small">{{item.title}}</span>
                            <span class="text-info ">{{item.title}}</span>
                        </p>
                    </div>
                    <div class="d-flex align-items-center">
                        <button>Apply</button>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>