<app-page-breadcrumb></app-page-breadcrumb>

<div class="container mt-5">
    <div class="row flex-row-reverse justify-content-between">
        <div class="col-md-7 order-1 order-md-2 cards mb-2 py-2">
            <h5><strong>My Cart</strong> </h5>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">services</th>
                        <th scope="col">price</th>
                        <th scope="col">quantity</th>
                        <th scope="col">sub-total</th>
                    </tr>
                </thead>
                <tbody>
                    @if (cartItems?.length) {
                    @for(cart of cartItems; track cart){
                    <tr>
                        <td>
                            <div class="d-flex align-items-center">
                                <span class="mx-1" (click)="removeCartItems(cart)"><i
                                        class="fa-regular fa-circle-xmark"></i></span>
                                        <img class="mx-1 img-fluid rounded" style="max-width:40px; height: 38px"
                                        [src]="cart.image ? cart.image : (cart.imagepath ? cart.imagepath : 'images/No_Image_Available.jpg')">
                                {{cart.itemName}}
                            </div>
                        </td>
                        <td>₹ {{cart.itemRate}}</td>
                        <td>
                            <div class="input-group mb-3" style="max-width: 200px">
                                <button class="input-group-text" [disabled]="+cart.quantity <= 1"
                                    (click)="changeQuantity(cart, -1)">-</button>
                                <input type="text" class="px-1 text-center form-control" #input
                                    (ngModelChange)="onInputChange($event, input)" [(ngModel)]="cart.quantity" readonly>
                                <button class="input-group-text" (click)="changeQuantity(cart, 1)">+</button>
                            </div>
                        </td>
                         <td>₹ {{cart.itemRate * (+cart.quantity) | number:'1.2-2'}}</td>
                    </tr>
                    }
                    }
                    @else {
                        @if(isBrowser){
                             <tr class="text-center">
                                <td colspan="4"> <strong class="text-danger">Data Not Found</strong> </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div class="update-cart d-flex justify-content-end" *ngIf="isQuantityChanged">
                <button (click)="updateCart()">Update Cart</button>
            </div>
        </div>
        <div class="col-md-4 order-3 order-md-1 cards mb-2">

            <div class="p-2">
                <h5> <strong>Card Totals</strong></h5>
                <div class="d-flex justify-content-between font py-1">
                    <span>Sub-total</span>
                    <strong>₹ &nbsp;{{sabTotal | number:'1.2-2'}}</strong>
                </div>
                <div class="d-flex justify-content-between font">
                    <span>Your total Saving</span>
                    <strong>₹ &nbsp; {{sabTotalSaving | number:'1.2-2'}}</strong>
                </div>
                <div class="d-flex justify-content-between font py-1">
                    <span>Taxes & Fee</span>
                    <strong> ₹ &nbsp;{{totalTaxAmount | number:'1.2-2'}}</strong>
                </div>
                <hr>
                <b class="d-flex justify-content-between">
                    <span>Total</span>
                    <span>₹ &nbsp;{{AmountToCheckout | number:'1.2-2'}}</span>
                </b>
                <div class="proceedToCheckout py-2">
                    <button *ngIf="!isPlaceInquiryOnly()" (click)="proceedToCheckout(cartItems)" [disabled]="(isUpdate && cartItems?.length === 0) || (!isUpdate && isQuantityChanged) || (isUpdate && isQuantityChanged && cartItems?.length === 0)" >Proceed To Checkout<i
                            class="fa-solid fa-arrow-right-long"></i></button>
                            <button  *ngIf="isPlaceInquiryOnly()" [disabled]="!cartItems?.length" (click)="placeInquiry(cartItems)" [disabled]="(isUpdate && cartItems?.length === 0) || (!isUpdate && isQuantityChanged) || (isUpdate && isQuantityChanged && cartItems?.length === 0)" >Place Enquiry</button>
                </div>
            </div>
        </div>
        <div class="col-md-4 order-2 order-md-3 cards mb-2">
            <div class="p-2 apply-coupon">
                <h5> <strong>Coupon Code</strong></h5>
                <div class="d-flex justify-content-between">
                        <input type="text" class="px-1 form-control w-50 " (keydown)="preventLeadingWhitespace($event)" placeholder="Enter Code" [(ngModel)]="couponCode" (ngModelChange)="OnCouponFilled()">
                    <div class="d-flex align-items-center">
                        <button (click)="applyCoupon(couponCode)">Apply</button>
                    </div>
                </div>
                <span *ngIf="noCouponAvailable" style="font-size: 12px; " class="text-danger">Please Enter coupon code</span>
                <hr>
                @for (item of OfferAndCoupon; track item) {
                <div class="d-flex justify-content-between">
                    <div class="d-flex">
                        <div class="d-flex align-items-center">
                            <img src="images/SpecialOffer.svg" alt="" style="width: 100%; height: 45px;">
                        </div>
                        <p class="d-flex flex-column font px-4">
                            <strong> {{item.percentage}}% OFF On {{item.couponDescription}} </strong>
                            <span class="text-muted font-small">{{item.percentage}}% OFF up to {{item.currency}} {{item.amount}}</span>
                            <!-- <span class="text-info ">{{item.title}}</span> -->
                        </p>
                    </div>
                    <div class="d-flex align-items-center">
                        <button (click)="applyCoupon(item.couponId)">Apply</button>
                    </div>
                </div>
            }
            </div>
        </div>
    </div>
</div>