<app-page-breadcrumb></app-page-breadcrumb>
<div class="container">
    <h3 class="mt-5" style="color: gray; text-align: center;">Anti-Discrimination Policy</h3>
    <div class="row mt-5">
            <p style="text-align: justify;">First Floppy seeks to empower Thousands of service professionals across in India to deliver safe, reliable and high quality services at home & offices. First Floppy therefore does not tolerate, and prohibits discrimination against customers or service providers based on religion, caste, race, national origin, disability, sexual orientation, sex, marital status, gender identity, age or any other characteristic that may protected under applicable laws. Such discrimination includes, but is not limited to, refusing to provide or accept services based on any of these characteristics.</p>

               <p style="text-align: justify;"> Any customer or service partner found to have violated this prohibition will lose access to the First Floppy platform.</p>
        </div>
</div>
