<app-page-breadcrumb></app-page-breadcrumb>

<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8 col-md-7 col-sm-6 detail_div">
            <img [src]="blogDetail?.image || 'images/No_Image_Available.jpg'" alt="">
            <!-- <p>{{blogDetail?.description}}</p> -->
            <!-- <div>
                <img [src]="blogDetail.image1 || 'images/No_Image_Available.jpg'" class="detail_img" alt="">
                <img [src]="blogDetail.image2 || 'images/No_Image_Available.jpg'" class="detail_img" alt="">
            </div> -->
            <p [innerHtml]=blogDetail?.blogDescription>
            </p>
            <!-- <p >
                {{blogDetail?.blogDescription}}
            </p> -->
            <div class="Comment_section" [formGroup]="commentForm">
                <h5>Leave A Comment</h5>
                <textarea name="" id="" rows="6" class="comment_box" placeholder="Comment" formControlName="comment"  (keydown)="preventLeadingWhitespace($event)"
                (input)="sanitizeInput($event)"></textarea>
                <!-- maxlength="{{ maxCommentLength }}" -->
                <div *ngIf="commentForm.get('comment')?.hasError('required') && commentForm.get('comment')?.touched" class="error">
                    Comment is required.
                  </div>
                  <div *ngIf="commentForm.get('comment')?.hasError('whitespace') && commentForm.get('comment')?.touched" class="error">
                    Comment cannot be just whitespace.
                  </div>
                  <div *ngIf="commentForm.get('comment')?.hasError('maxlength') && commentForm.get('comment')?.touched" class="error">
                    Comment cannot exceed 50 characters.
                  </div>
                <div class="row mt-2">
                    <div class="col-4">
                        <input type="text" placeholder="Name" formControlName="name"  (keydown)="preventLeadingWhitespace($event)"
                        (input)="sanitizeInput($event)">
                        <div *ngIf="commentForm.get('name')?.hasError('required') && commentForm.get('name')?.touched" class="error">
                            Name is required.
                          </div>
                          <div *ngIf="commentForm.get('name')?.hasError('whitespace') && commentForm.get('name')?.touched" class="error">
                            Name cannot be just whitespace.
                          </div>
                          <div *ngIf="commentForm.get('name')?.hasError('pattern') && commentForm.get('name')?.touched" class="error">
                            Name can only contain alphabetic characters.
                          </div>
                    </div>
                    <div class="col-4">
                        <input type="text" placeholder="Email" formControlName="email"  (keydown)="preventLeadingWhitespace($event)"
                        (input)="sanitizeInput($event)">
                        <div *ngIf="commentForm.get('email')?.hasError('required') && commentForm.get('email')?.touched" class="error">
                            Email is required.
                          </div>
                          <div *ngIf="commentForm.get('email')?.hasError('email') && commentForm.get('email')?.touched" class="error">
                            Invalid email format.
                          </div>
                          <div *ngIf="commentForm.get('email')?.hasError('whitespace') && commentForm.get('email')?.touched" class="error">
                            Email cannot be just whitespace.
                          </div>
                    </div>
                    <div class="col-4">
                        <input type="text" placeholder="Website" formControlName="webSite"  (keydown)="preventLeadingWhitespace($event)"
                        (input)="sanitizeInput($event)">
                    </div>
                </div>
                <div class="d-flex">
                    <input type="checkbox" formControlName="saveWebsiteInfo"><span>Save my name, email, and website in this browser for the next time I
                        comment.</span>

                </div>
                <button class="post_btn mt-4" (click)="saveReview()">Post Comment</button>
            </div>

            <h4 class="mt-5" style="font-weight: 600;">Comment</h4>
            <ng-container *ngFor="let blogReview of blogReview | slice:0:displayedReviewsCount">
            <div class="comment_box mb-3 mt-3">
                <div class="card-body">
                  <h5 class="card-title">{{blogReview.name}}</h5>
                  <p class="card-text">{{blogReview.comment}}</p>
                </div>
            </div>
        </ng-container>

        <div class="d-flex justify-content-center" *ngIf="blogReview.length > 3">
            <button class="cart_btn load_more" (click)="loadMoreReviews()">
              {{ shouldShowLoadMore ? 'Load More' : 'Show Less' }}
            </button>
          </div>

        </div>
        <div class="col-lg-4 col-md-5 col-sm-6">
            <div class="mt-sm-0 mt-3">
                <div class="position-relative">
                    <span class="search_icon"><i class="fa-solid fa-magnifying-glass "></i></span>
                    <input type="text" class="form-control input_search" placeholder="Search" (input)="onSearch($event)">
                </div>
                <div class="Blog_list">
                    <h5 class="ms-2">Recent Post</h5>
                    <app-blog-list [BlogNumber]="number" [showPaginator]="false" (blogData)="blogDataEvent($event)"></app-blog-list>
                </div>

                <div class="category_box">
                    <h5>Categories</h5>
                    <ul>
                        <ng-container *ngFor="let category of Categories">
                            <li (click)="filterByCategory(category)" style="cursor: pointer;">{{category.classificationName}}</li>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>
    </div>


</div>