
<app-header></app-header>
<div class="page-scrum mb-4">
    <div class="container">
        <p class="m-0"><i class="fa-solid fa-house"></i> Home &nbsp; > &nbsp; Blog > &nbsp;<span>{{selectedBlog.title}}</span></p>
    </div>
    
</div>
<div class="container">
 <div class="row">
    <div class="col-7 detail_div">
        <img  [src]="selectedBlog.primaryImage" alt="">
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when
             looking at its layout. The point of using Lorem Ipsum The man, who is in a stable condition inhospital,
              has “potentia ly life-changing injuries” after the overnight attack in Garvagh, County Lonodonderry. He was shot in the arms and legs.”What sort of men would think it is accepttable to subject a young girl to this level of brutality and violence?”Every child has the right to feel safe and protected in their own home – how is this poor child going to sleep tonight or in coming nights? What are the long term effects on her going to be?” As a app web crawler expert, I help organizations adjust to the It is a long established fact that a reader will be distracted Lorem ipsum dolor sit amet, 
            consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <p>
                “She came out petrified with her Piggy Bank, HER PIGGY BANK! hoping that the men would take it and leave her dad alone,” one outraged officer wrote. especially in capital projects and the suppliers and consultants that work for you know the value of a customer like that. As a consultant executing two projects for a large multinational, I realise
                 how very difficult it sometimes can be on the receiving-end.
            </p>
    </div>
    <div class="col-5">
<div>
    <app-blog-list></app-blog-list>
</div>
    </div>
 </div>
    
    
</div>