<!-- <h2 mat-dialog-title>Select Location</h2> -->
<div class="dialog-header">
  <h2 mat-dialog-title>Select Location</h2>
  <i class="fa fa-times close-icon" (click)="closeDialog()"></i>
</div>
<hr style="margin-inline: 1rem; margin-block: 0;">

<div class="container mt-3" *ngIf="!showAddLocationForm">
  <h5>When do you need the services?</h5>
  <p>Help our teams get to your place on time by locating it on the map below</p>

  <!-- Add New Location Section -->
  <div class="location-card add-location" (click)="addNewLocation()">
    <div class="location-text">
      <strong>Add New Location</strong>
    </div>
    <div class="location-arrow">
      <i class="fa fa-chevron-right"></i>
    </div>
  </div>

  <!-- Existing Location Section -->
  <div class="location-card" *ngFor="let userAddress of userAddress" (click)="selectLocation(userAddress)">
    <div class="location-info">
      <span class="location-icon">
        <i class="fa fa-map-marker"></i>
      </span>
      <div class="location-details" >
        <strong>{{userAddress.addressType}}</strong>
        <p>{{userAddress.location}}</p>
      </div>
    </div>
  </div>
</div>


<mat-dialog-content *ngIf="showAddLocationForm">
  <div class="row">
    <!-- Map Container -->
    <div class="col-6">
      <a class="current-location" (click)="useCurrentLocation()">
        <mat-icon>location_on</mat-icon> Use Current Location
      </a>
      <div #googleMap class="map-container" style="height: 22rem; width: 100%; border-radius: 20px;"></div>
    </div>

    <!-- Address Details -->
    <div class="col-6">
      <div class="address-details">
        <h6 class="title">Save your address details</h6>

        <!-- Address Type Buttons -->
        <mat-button-toggle-group [(ngModel)]="selectedAddressType" class="button-toggle-group" appearance="legacy">
          <mat-button-toggle value="Home">Home</mat-button-toggle>
          <mat-button-toggle value="Office">Office</mat-button-toggle>
          <mat-button-toggle value="Other">Other</mat-button-toggle>
        </mat-button-toggle-group>

        <!-- Country Dropdown -->
        <mat-form-field class="oval-form-field">
          <mat-select [(ngModel)]="selectedCountry" (selectionChange)="onCountryChange()" placeholder="Select Country">
            <mat-option *ngFor="let country of countries" [value]="country">{{ country }}</mat-option>
          </mat-select>
        </mat-form-field>

        <!-- Address Fields -->
        <mat-form-field class="oval-form-field">
          <input matInput [(ngModel)]="area" placeholder="Start typing to find your area">
        </mat-form-field>

        <mat-form-field class="oval-form-field">
          <input matInput [(ngModel)]="building" placeholder="Building or Street no">
        </mat-form-field>

        <mat-form-field class="oval-form-field">
          <input matInput [(ngModel)]="apartment" placeholder="Apartment/Villa No">
        </mat-form-field>

        <!-- Save Button -->
        <button mat-raised-button class="save-button" (click)="onConfirm()">Save</button>
      </div>
    </div>
  </div>
</mat-dialog-content>
