<div class="container mt-5">
 <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div 
              *ngFor="let item of sortedBottomData; let i = index" 
              class="carousel-item" 
              [class.active]="i === 0"
            >
              <img [src]="item.Image || 'images/No_Image_Available.jpg'" [alt]="item.title" class="d-block w-100 bottom-banner" (error)="handleError($event)">
              <!-- *ngIf="isOnHomePage()" -->
              <div class="text-center button-ui" >
                <button class="service_btn" (click)="goToService()">Book A Service</button>
            </div>
               <!-- <img src="images/floppy_logo.png" [alt]="item.title" class="d-block w-100" style="size: 20px;">  -->
            </div>
           
          </div>

        <div class="carousel-indicators">
            <button 
                *ngFor="let item of sortedBottomData; let i = index" 
                type="button" 
                [attr.data-bs-target]="'#carouselExampleSlidesOnly'" 
                [attr.data-bs-slide-to]="i" 
                [class.active]="i === 0"
                [attr.aria-current]="i === 0 ? 'true' : null"
                [attr.aria-label]="'Slide ' + (i + 1)">
            </button>
        </div>
    </div>

</div>




  