<div class="container mt-5 pt-5">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="discount_banner1">
                    <div class="row">
                        <div class="col-lg-7 col-md-7">
                            <div class="discount_banner_text">
                                <span class="header_text">Try Our Trending Services With
                                    Upto 50% Off !</span>
                                <span class="subtext">On any service you book</span>
                                <div class="text-center">
                                    <button class="service_btn">Book A Service</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5">
                            <div class="disc_banner_img">
                                <div class="discount_bg">
                                </div>
                                <div class="disc_img">
                                    <img src="images/discount-banner1.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="discount_banner2">
                    <div class="row">
                        <div class="col-lg-5 col-md-5">
                            <div class="disc_banner_img">
                                <div class="discount_bg">
                                </div>
                                <div class="disc_img2">
                                    <img src="images/discount-banner2.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7 col-md-7">
                            <div class="discount_banner_text">
                                <span class="header_text">Try Our Trending Services With
                                    Upto 50% Off !</span>
                                <span class="subtext">On any service you book</span>
                                <div class="text-center">
                                    <button class="service_btn">Book A Service</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="discount_banner3">
                    <div class="row">
                        <div class="col-lg-7 col-md-7">
                            <div class="discount_banner_text">
                                <span class="header_text">Try Our Trending Services With
                                    Upto 50% Off !</span>
                                <span class="subtext">On any service you book</span>
                                <div class="text-center">
                                    <button class="service_btn2">Book A Service</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5">
                            <div class="disc_banner_img">
                                <div class="discount_bg">
                                </div>
                                <div class="disc_img">
                                    <img src="images/discount-banner3.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Carousel Indicators -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
    </div>


</div>