// testimonial\

.testimonial{
    padding: 50px 10px;
}

.card_testimonial{
    // width: 400px;
    background-color: white;
    box-shadow: 0px 1px 15px 0px #e4e4e4;
    margin-top: 40px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 25px;
    border-radius: 25px;
    position: relative;
}

.card_testimonial_quote{
    position: absolute;
    top: -30px;
    right: 0;
    width: 75px;
    display: flex;
    align-items: center;
    height: 75px;
    border-radius: 50%;
    color: #fff;
    background-color: #008CAC;
    justify-content: center;
    font-size: 35px;
}

.test_img{
    width: 75px;
    height: 75px;
    margin-right: 10px;
}

.test_img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.test_text{
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    justify-content: start;
}

.test_name{
    margin-bottom: 0;
    font-weight: bold;
    color: #000;
}

.test_text span{
    color: #9c9c9c;
}

.rating{
    color: #FFA43C;
}

.test_description{
    color: #a7a7a7;
    margin-top: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 4;      /* Limit the number of lines (change 3 to the desired number) */
    -webkit-box-orient: vertical;
    overflow: hidden;           /* Hide overflowed text */
    text-overflow: ellipsis;    /* Show ellipsis (...) */
}

h2{
    font-size: 42px;
    font-weight: bold;
    text-align: center;
}

// @media (max-width: 992px) {
//     .card_testimonial{
//         width: 500px;
//     }
// }
:host ::ng-deep .owl-nav {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 108%;
    transform: translate(-4%, -400%);
    > div {
        height: 30px;
        width: 30px;
        color: #008cac !important;
        border-radius: 50% !important;
        border: 1px solid #008cac;
        background-color: transparent !important;
    }
}