<div class="testimonial">
    <h2>Testimonials</h2>
    <div class="container mt-5">
    <owl-carousel-o [options]="customOptions" >
        <ng-template carouselSlide *ngFor="let testimonial of testimonials">
            <div class="card_testimonial" *ngIf="testimonial.status==1">
                <div class="card_testimonial_quote"><i class="fa-solid fa-quote-right"></i></div>
                <div class="d-flex justify-content-start">
                    <div class="test_img">
                        <img src="images/test-img.png" alt="">
                    </div>
                    <div class="test_text">
                        <p class="test_name">{{ testimonial.custumerName }}</p>
                        <span>{{ testimonial.customerDesigination }}</span>
                    </div>
                </div>
                <div class="mt-2">
                    <span class="rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                            class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                            class="fa-regular fa-star"></i></span>
                </div>
                <p class="test_description">{{ testimonial.review }}</p>
            </div>
        </ng-template>
            <!-- <ng-template carouselSlide>
                <div class="card_testimonial">
                    <div class="card_testimonial_quote"><i class="fa-solid fa-quote-right"></i></div>
                    <div class="d-flex justify-content-start">
                        <div class="test_img">
                            <img src="images/test-img.png" alt="">
                        </div>
                        <div class="test_text">
                            <p class="test_name">Jane Cooper</p>
                            <span>Lead Designer</span>
                        </div>
                    </div>
                    <div class="mt-2">
                        <span class="rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-regular fa-star"></i></span>
                    </div>
                    <p class="test_description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem accusamus quidem vel modi sint nulla ratione sunt suscipit. Fuga, quisquam.</p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card_testimonial">
                    <div class="card_testimonial_quote"><i class="fa-solid fa-quote-right"></i></div>
                    <div class="d-flex justify-content-start">
                        <div class="test_img">
                            <img src="images/test-img.png" alt="">
                        </div>
                        <div class="test_text">
                            <p class="test_name">Jane Cooper</p>
                            <span>Lead Designer</span>
                        </div>
                    </div>
                    <div class="mt-2">
                        <span class="rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-regular fa-star"></i></span>
                    </div>
                    <p class="test_description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem accusamus quidem vel modi sint nulla ratione sunt suscipit. Fuga, quisquam.</p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card_testimonial">
                    <div class="card_testimonial_quote"><i class="fa-solid fa-quote-right"></i></div>
                    <div class="d-flex justify-content-start">
                        <div class="test_img">
                            <img src="images/test-img.png" alt="">
                        </div>
                        <div class="test_text">
                            <p class="test_name">Jane Cooper</p>
                            <span>Lead Designer</span>
                        </div>
                    </div>
                    <div class="mt-2">
                        <span class="rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-regular fa-star"></i></span>
                    </div>
                    <p class="test_description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem accusamus quidem vel modi sint nulla ratione sunt suscipit. Fuga, quisquam.</p>
                </div>
            </ng-template> -->
        </owl-carousel-o>
    </div>
</div>