<!-- hero section -->
<div class="hero_section">

    <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="banner1">
                </div>
            </div> 
            <div class="carousel-item">
                <div class="banner2">
                </div>
            </div>
             <div class="carousel-item">
                <div class="banner3">
                </div>
            </div>
            <!-- <div class="carousel-inner">
                <div 
                  *ngFor="let item of sortedTopData; let i = index" 
                  class="carousel-item" 
                  [class.active]="i === 0"
                >
                  <img [src]="apiUrl + item.image" [alt]="item.title" class="d-block w-100" style="size: 20px;">
                </div>
              </div> -->
              
        </div>
        <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon carousel_button" aria-hidden="true">
                <i class="fa-solid fa-chevron-left"></i>
            </span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon carousel_button" aria-hidden="true">
                <i class="fa-solid fa-chevron-right"></i>
            </span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="banner_text">
        <h1>Expert Professional <span>Home Services,</span> Book Online</h1>
        <p>Service On Wheel helps you live smarter, giving you time to focus what's most
            important.</p>
        <div class="location_search">
            <i class="fa-solid fa-location-dot"></i>
            <select class="select_box" name="" id="">
                <option value="">select</option>
                <option value="">nagpur</option>
            </select>
            <i class="fa-solid fa-magnifying-glass search_glass"></i>
            <input type="search" placeholder="Search Item" class="search_box">
        </div>
        <button>Contact us</button>
    </div>
</div>

<!-- content -->
<div class="container mt-5">

    <!-- what are you looking for -->
    <div class="owl_container">
        <div class="row">
            <div class="col-lg-3">
                <div class="owlText_container">
                    <h2><span>What are you</span> looking for?</h2>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card_background card_backgroundImg"></div>
                <div class="owl_section">
                    <!-- <div class="custom-nav">
                        <button class="custom-prev" (click)="onPrevClick()">
                            <i class="fas fa-chevron-left"></i>
                        </button>
                        <button class="custom-next">
                            <i class="fas fa-chevron-right"></i>
                        </button>
                    </div> -->
                    <owl-carousel-o #owlElement [options]="customOptions" class="owl_carousel">
                        <ng-template carouselSlide class="owl_card" *ngFor="let item of serviceDataList">
                            <div class="card" (click)="openDialog(item)">
                                <div class="card_img">
                                    <!-- <img [src]="apiUrl + item.image"  alt=""> -->
                                    <img [src]="item.image ? (apiUrl + item.image) : 'images/rental.png'" [alt]="item.classificationName" />
                                </div>
                                <h3 class="card_h3">{{item.classificationName}}</h3>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>

    <!-- home repair services -->
    <div class="row mt-5">
        <div class="col-lg-4 col-md-4 d-flex justify-content-center">
            <div class="fridge_repair">
                <h3 class="text-center text-white">Looking for Fridge Repair Expert?</h3>
                <button class="book_now_btn">Book Now</button>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 d-flex justify-content-center">
            <div class="ac_service">
                <h3 class="text-center text-white">AC Servicing</h3>
                <span class="text-white text-center">Ac Service repair at your doorstep</span>
                <button class="book_now_btn">Book Now</button>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 d-flex justify-content-center">
            <div class="electrician">
                <h3 class="text-center text-white">Need For Electrician</h3>
                <span class="text-white text-center">Electric Service at your doorstep</span>
                <button class="book_now_btn">Book Now</button>
            </div>
        </div>
    </div>


    <!-- How it works -->
    <div class="how_it_works_section">
        <h2 class="text-center"><span>How it</span> works</h2>
        <div class="inner_container">
            <div class="row">
                <div class="col-lg-4 d-flex justify-content-center align-items-center">
                    <div class="border_circle">
                        <div class="inner_circle">
                            <div class="inner_circle_img">
                                <img src="images/book-online.svg" alt="">
                            </div>
                            <h3>Book Online or Phone</h3>
                        </div>
                        <div class="number_circle">
                            <div class="number_circle_inner">
                                <span class="fs-3 fw-bold">01</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-flex justify-content-center align-items-center">
                    <div class="border_circle">
                        <div class="inner_circle">
                            <div class="inner_circle_img">
                                <img src="images/sms.svg" alt="">
                            </div>
                            <h3>Get Booking Details Via SMS</h3>
                        </div>
                        <div class="number_circle">
                            <div class="number_circle_inner">
                                <span class="fs-3 fw-bold">02</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-flex justify-content-center align-items-center">
                    <div class="border_circle">
                        <div class="inner_circle">
                            <div class="inner_circle_img">
                                <img src="images/work-done.svg" alt="">
                            </div>
                            <h3>Pay After Work is Done</h3>
                        </div>
                        <div class="number_circle">
                            <div class="number_circle_inner">
                                <span class="fs-3 fw-bold">03</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div id="lazy-load-target" >
    <ng-container *ngIf="contentLoaded">
        <!-- Appliance repare & service -->
<div class="appliance_repair_section" *ngIf="categoryList.length > 1" [attr.id]="getSectionId(1)">
    <!-- <h2><span>Appliance Repair </span>& Services</h2> -->
     <h2><span>{{ categoryList[1]?.classificationName }}</span></h2>
    <div class="row row_mobile_response m-0">
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-2 col-md-2 d-flex justify-content-center" *ngFor="let subcategory of section1Subcategories | slice:0:4">
            <div class="ac_repair_margin">
                <div class="appliance_repair">
                    <div class="appliance_repair_img">
                        <img src="images/ac-repair.svg" alt="">
                    </div>
                    <h3>{{ subcategory?.SubClassificationName }}</h3>
                </div>
            </div>
        </div>
        <!-- <div class="col-lg-2 col-md-2 d-flex justify-content-center">
            <div class="fridge_repair_margin">
                <div class="appliance_repair">
                    <div class="appliance_repair_img"><img src="images/fridge-repair.svg" alt=""></div>
                    <h3>Refrigerator Repair</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 d-flex justify-content-center">
            <div class="washing_repair_margin">
                <div class="appliance_repair">
                    <div class="appliance_repair_img"><img src="images/washing-repair.svg" alt=""></div>
                    <h3>Washing Mashine Repair</h3>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 d-flex justify-content-center">
            <div class="water_repair_margin">
                <div class="appliance_repair">
                    <div class="appliance_repair_img"><img src="images/water-repair.svg" alt=""></div>
                    <h3>Water Purifier Repair</h3>
                </div>
            </div>
        </div> -->
        <div class="col-lg-2 col-md-2"></div>
    </div>
</div>


<!-- Salon at home -->
<div class="salon_at_home" *ngIf="categoryList.length > 11" [attr.id]="getSectionId(11)">
    <div class="container">
        <!-- <h2 class="text-center"><span>Salon</span> At Home</h2> -->
        <h2 class="text-center"><span>{{ categoryList[11]?.classificationName }}</span></h2>
        <!-- <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="card_salon">
                    <img src="images/pedicure.png" alt="">
                    <h3>Pedicure</h3>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card_salon">
                    <img src="images/facial.png" alt="">
                    <h3>Facials & Cleanups</h3>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="card_salon">
                    <img src="images/salon.png" alt="">
                    <h3>Classic Salon</h3>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="card_salon">
                    <img src="images/hair.png" alt="">
                    <h3>Hair Care</h3>
                </div>
            </ng-template>
        </owl-carousel-o> -->

        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let subcategory of section2Subcategories  | slice:0:4">
                <div class="card_salon">
                    <!-- <img [src]="subcategory.Image" alt="{{ subcategory.SubClassificationName }}"> -->
                    <img src="images/salon.png" alt="">
                    <h3>{{ subcategory.SubClassificationName }}</h3>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>

<!-- discount carousel -->
<app-ad-placement></app-ad-placement>


<!-- house keeping -->
<div class="house_keeping" *ngIf="categoryList.length > 3" [attr.id]="getSectionId(11)">
    <div class="container">
        <!-- <h2 class="text-center"><span>House</span> Keeping</h2> -->
        <h2 class="text-center"><span>{{ categoryList[3]?.classificationName }}</span></h2>
        <!-- <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="card_salon">
                    <img src="images/bath-cleaning.png" alt="">
                    <h3>Bathroom Deep Cleaning</h3>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card_salon">
                    <img src="images/home-cleaning.png" alt="">
                    <h3>Home Deep Cleaning Service</h3>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="card_salon">
                    <img src="images/kitchen-cleaning.png" alt="">
                    <h3>Kitchen Deep Cleaning</h3>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="card_salon">
                    <img src="images/sofa-cleaning.png" alt="">
                    <h3>Sofa Deep Cleaning</h3>
                </div>
            </ng-template>
        </owl-carousel-o> -->
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide *ngFor="let subcategory of section3Subcategories | slice:0:4">
                <div class="card_salon">
                    <!-- <img [src]="subcategory.Image" alt="{{ subcategory.SubClassificationName }}"> -->
                    <img src="images/sofa-cleaning.png" alt="">
                    <h3>{{ subcategory.SubClassificationName }}</h3>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>

<app-testimonial></app-testimonial>
</ng-container>
</div>
