.banner1 {
    width: 100%;
    height: 600px;
    background: url("../../../../../../public/images/hero-1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner2 {
    width: 100%;
    height: 600px;
    background: url("../../../../../../public/images/hero-2.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.banner3 {
    width: 100%;
    height: 600px;
    background: url("../../../../../../public/images/hero-3.png");
    background-repeat: no-repeat;
    background-size: cover;
}


h1 {
    font-size: 50px;
}

h1 span {
    color: #008CAC;
}

.hero_section {
    position: relative;
}

.banner_text {
    padding-left: 100px;
    padding-top: 150px;
    width: 50%;
    position: absolute;
    z-index: 2;
}

.banner_text p {
    width: 75%;
}



.carousel_button {
    background-color: #f9f9f9b8;
    border-radius: 50%;
    padding: 5px;
    border: 1px solid #008CAC;
}

.carousel_button i {
    color: #008CAC;
}

.carousel_button i:hover {
    color: #00829f;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    background-image: none;
}

.carousel-control-prev,
.carousel-control-next {
    width: 7%;
}

.location_search {
    width: 100%;
    height: 50px;
    background-color: #ffffff52;
    border-radius: 25px;
    border: 1px solid #cecece;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 10px;
    margin-top: 30px;
}

.select_box {
    width: 30%;
    border: none;
    height: 80%;
    background-color: #ffffff00;
    padding-left: 10px;
}

.search_box {
    width: 70%;
    padding-left: 10px;
    border: none;
    height: 80%;
    background-color: #ffffff00;
}

.search_glass {
    color: #a3a3a3;
    margin-left: 30px;
}

.banner_text button {
    margin-top: 30px;
    padding: 10px 50px;
    border: none;
    border-radius: 25px;
    background-color: #008CAC;
    color: #ffff;
}

h2 {
    font-size: 42px;
    font-weight: bold;
}

h2 span {
    color: #008CAC;
}

.card_background{
    background-color: #008CAC;
    width: 100%;
    height: 150px;
    border-radius: 20px;
}

.card {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    border: none;
}

.owl_container{
    margin-top: 50px;
}


.card_img {
    width: 80px;
    height: 80px;
}

.card_img img {
    width: 100%;
}

.owl_section{
    padding: 10px 20px;
    margin-top: -100px;
}

.owl_card {
    width: 200px;
}