<!-- hero section -->
<div class="hero_section">
    <div class="banner_text">
        <h1>Expert Professional <span>Home Services,</span> Book Online</h1>
        <p>Service On Wheel helps you live smarter, giving you time to focus what's most
            important.</p>
        <div class="location_search">
            <i class="fa-solid fa-location-dot"></i>
            <select class="select_box" name="" id="">
                <option value="">select</option>
                <option value="">nagpur</option>
            </select>
            <i class="fa-solid fa-magnifying-glass search_glass"></i>
            <input type="search" placeholder="Search Item" class="search_box">
        </div>
        <button>Contact us</button>
    </div>
    <div id="carouselExampleControls" class="carousel slide carousel-fade" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="banner1">
                </div>
            </div>
            <div class="carousel-item">
                <div class="banner2">
                </div>
            </div>
            <div class="carousel-item">
                <div class="banner3">
                </div>
            </div>
        </div>
        <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon carousel_button" aria-hidden="true">
                <i class="fa-solid fa-chevron-left"></i>
            </span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next " type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
            <span class="carousel-control-next-icon carousel_button" aria-hidden="true">
                <i class="fa-solid fa-chevron-right"></i>
            </span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<!-- content -->
<div class="container">

    <!-- what are you looking for -->
    <div class="owl_container">
        <div class="row">
            <div class="col-lg-3">
                <div class="owlText_container">
                    <h2><span>What are you</span> looking for?</h2>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="card_background"></div>
                <div class="owl_section">
                    <owl-carousel-o [options]="customOptions" class="owl_carousel">
                        <ng-template carouselSlide class="owl_card">
                            <div class="card">
                                <div class="card_img">
                                    <img src="images/it-rental.png" alt="">
                                </div>
                                <h3 class="fw-bold mt-3 fs-5 text-center">IT-rental</h3>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide class="owl_card">
                            <div class="card">
                                <div class="card_img">
                                    <img src="images/patient-care.png" alt="">
                                </div>
                                <h3 class="fw-bold mt-3 fs-5 text-center">Patient Care At Home & Physiotherapy</h3>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide class="owl_card">
                            <div class="card">
                                <div class="card_img">
                                    <img src="images/appliance-repair.png" alt="">
                                </div>
                                <h3 class="fw-bold mt-3 fs-5 text-center">Appliance Repair & Services</h3>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide class="owl_card">
                            <div class="card">
                                <div class="card_img">
                                    <img src="images/professionals.png" alt="">
                                </div>
                                <h3 class="fw-bold mt-3 fs-5 text-center">Professionals</h3>
                            </div>
                        </ng-template>
                        <ng-template carouselSlide class="owl_card">
                            <div class="card">
                                <div class="card_img">
                                    <img src="images/IT-rental.png" alt="">
                                </div>
                                <h3 class="fw-bold mt-3 fs-5">IT-rental</h3>
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>

    <!-- home repair services -->
    <div class="row mt-5 pt-5">
        <div class="col-lg-4">
            <div class="fridge_repair">
                <h3 class="text-center text-white">Looking for Fridge Repair Expert?</h3>
                <button class="book_now_btn">Book Now</button>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ac_service">
                <h3 class="text-center text-white">AC Servicing</h3>
                <span class="text-white">Ac Service repair at your doorstep</span>
                <button class="book_now_btn">Book Now</button>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="electrician">
                <h3 class="text-center text-white">Need For Electrician</h3>
                <span class="text-white">Electric Service at your doorstep</span>
                <button class="book_now_btn">Book Now</button>
            </div>
        </div>
    </div>


    <!-- How it works -->
    <div class="how_it_works_section">
        <h2 class="text-center"><span>How it</span> works</h2>
        <div class="inner_container">
            <div class="row">
                <div class="col-lg-4 d-flex justify-content-center align-items-center">
                    <div class="border_circle">
                        <div class="inner_circle">
                            <div class="inner_circle_img">
                                <img src="images/book-online.svg" alt="">
                            </div>
                            <h3 class="fs-5 text-center fw-bold">Book Online or Phone</h3>
                        </div>
                        <div class="number_circle">
                            <div class="number_circle_inner">
                                <span class="fs-3 fw-bold">01</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-flex justify-content-center align-items-center">
                    <div class="border_circle">
                        <div class="inner_circle">
                            <div class="inner_circle_img">
                                <img src="images/sms.svg" alt="">
                            </div>
                            <h3 class="fs-5 text-center fw-bold">Get Booking Details Via SMS</h3>
                        </div>
                        <div class="number_circle">
                            <div class="number_circle_inner">
                                <span class="fs-3 fw-bold">02</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 d-flex justify-content-center align-items-center">
                    <div class="border_circle">
                        <div class="inner_circle">
                            <div class="inner_circle_img">
                                <img src="images/work-done.svg" alt="">
                            </div>
                            <h3 class="fs-5 text-center fw-bold">Pay After Work is Done</h3>
                        </div>
                        <div class="number_circle">
                            <div class="number_circle_inner">
                                <span class="fs-3 fw-bold">03</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- Appliance repare & service -->
<div class="appliance_repair_section">
    <h2><span>Appliance Repair </span>& Services</h2>
    <!-- <div class="service_box"></div> -->
</div>

<!-- Salon at home -->
<div class="salon_at_home">
    <div class="container">
        <h2 class="text-center"><span>Salon</span> At Home</h2>
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="card_salon">
                    <img src="images/pedicure.png" alt="">
                    <h3>Pedicure</h3>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card_salon">
                    <img src="images/facial.png" alt="">
                    <h3>Facials & Cleanups</h3>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="card_salon">
                    <img src="images/salon.png" alt="">
                    <h3>Classic Salon</h3>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="card_salon">
                    <img src="images/hair.png" alt="">
                    <h3>Hair Care</h3>
                </div>
            </ng-template>



        </owl-carousel-o>
    </div>
</div>

<!-- discount carousel -->
<div class="container mt-5 pt-5">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="discount_banner1">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="discount_banner_text">
                                <span class="fs-2 px-5 fw-bold text-white text-center">Try Our Trending Services With
                                    Upto 50% Off !</span>
                                <span class="text-white px-5 text-center">On any service you book</span>
                                <div class="text-center">
                                    <button class="service_btn">Book A Service</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="disc_banner_img">
                                <div class="discount_bg">
                                </div>
                                <div class="disc_img">
                                    <img src="images/discount-banner1.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="discount_banner2">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="disc_banner_img">
                                <div class="discount_bg">
                                </div>
                                <div class="disc_img2">
                                    <img src="images/discount-banner2.png" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="discount_banner_text">
                                <span class="fs-2 px-5 fw-bold text-white text-center">Try Our Trending Services With
                                    Upto 50% Off !</span>
                                <span class="text-white px-5 text-center">On any service you book</span>
                                <div class="text-center">
                                    <button class="service_btn">Book A Service</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="discount_banner3">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="discount_banner_text">
                                <span class="fs-2 px-5 fw-bold text-white text-center">Try Our Trending Services With
                                    Upto 50% Off !</span>
                                <span class="text-white px-5 text-center">On any service you book</span>
                                <div class="text-center">
                                    <button class="service_btn2">Book A Service</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="disc_banner_img">
                                <div class="discount_bg">
                                </div>
                                <div class="disc_img">
                                    <img src="images/discount-banner3.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Carousel Indicators -->
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleSlidesOnly" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
    </div>


</div>

<div class="house_keeping">
    <div class="container">
        <h2 class="text-center"><span>House</span> Keeping</h2>
        <owl-carousel-o [options]="customOptions">
            <ng-template carouselSlide>
                <div class="card_salon">
                    <img src="images/bath-cleaning.png" alt="">
                    <h3>Bathroom Deep Cleaning</h3>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card_salon">
                    <img src="images/home-cleaning.png" alt="">
                    <h3>Home Deep Cleaning Service</h3>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="card_salon">
                    <img src="images/kitchen-cleaning.png" alt="">
                    <h3>Kitchen Deep Cleaning</h3>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="card_salon">
                    <img src="images/sofa-cleaning.png" alt="">
                    <h3>Sofa Deep Cleaning</h3>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>

<div class="testimonial">
    <h2 class="text-center">Testimonial</h2>
    <div class="container mt-5">
    <owl-carousel-o [options]="customOptions" >
            <ng-template carouselSlide>
                <div class="card_testimonial">
                    <div class="card_testimonial_quote"><i class="fa-solid fa-quote-right"></i></div>
                    <div class="d-flex justify-content-start">
                        <div class="test_img">
                            <img src="images/test-img.png" alt="">
                        </div>
                        <div class="test_text">
                            <p class="test_name">Jane Cooper</p>
                            <span>Lead Designer</span>
                        </div>
                    </div>
                    <div class="mt-2">
                        <span class="rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-regular fa-star"></i></span>
                    </div>
                    <p class="test_description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem accusamus quidem vel modi sint nulla ratione sunt suscipit. Fuga, quisquam.</p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card_testimonial">
                    <div class="card_testimonial_quote"><i class="fa-solid fa-quote-right"></i></div>
                    <div class="d-flex justify-content-start">
                        <div class="test_img">
                            <img src="images/test-img.png" alt="">
                        </div>
                        <div class="test_text">
                            <p class="test_name">Jane Cooper</p>
                            <span>Lead Designer</span>
                        </div>
                    </div>
                    <div class="mt-2">
                        <span class="rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-regular fa-star"></i></span>
                    </div>
                    <p class="test_description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem accusamus quidem vel modi sint nulla ratione sunt suscipit. Fuga, quisquam.</p>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="card_testimonial">
                    <div class="card_testimonial_quote"><i class="fa-solid fa-quote-right"></i></div>
                    <div class="d-flex justify-content-start">
                        <div class="test_img">
                            <img src="images/test-img.png" alt="">
                        </div>
                        <div class="test_text">
                            <p class="test_name">Jane Cooper</p>
                            <span>Lead Designer</span>
                        </div>
                    </div>
                    <div class="mt-2">
                        <span class="rating"><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i
                                class="fa-regular fa-star"></i></span>
                    </div>
                    <p class="test_description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem accusamus quidem vel modi sint nulla ratione sunt suscipit. Fuga, quisquam.</p>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>