
   <div class="page-scrum">
    <div class="container">
      <p class="m-0">
        <i class="fa-solid fa-house"></i> Home &nbsp; > &nbsp;
        <span>Services</span>
      </p>
    </div>
  </div>
  
  <div class="container p-4 mb-3">
    <div class="card_background card_backgroundImg">
            <div class="row justify-content-center w-100 mt-4">
              <!-- Row 1: 5 cards -->
              <div class="col-md-2 col-sm-4 col-6 mb-3">
                <div class="card text-center">
                  <div class="card_img mx-auto">
                    <img src="images/it-rental.png" alt="IT-rental" />
                  </div>
                  <h3 class="card_h3">IT-rental</h3>
                  <!-- <div class="bg-background="images/serviceBackground.svg"></div> -->
                </div>
              </div>
              <div class="col-md-2 col-sm-4 col-6 mb-3">
                <div class="card text-center">
                  <div class="card_img mx-auto">
                    <img src="images/patient-care.png" alt="Patient Care" />
                  </div>
                  <h3 class="card_h3">Patient Care At Home & Physiotherapy</h3>
                </div>
              </div>
              <div class="col-md-2 col-sm-4 col-6 mb-3">
                <div class="card text-center">
                  <div class="card_img mx-auto">
                    <img src="images/appliance-repair.png" alt="Appliance Repair" />
                  </div>
                  <h3 class="card_h3">Appliance Repair & Services</h3>
                </div>
              </div>
              <div class="col-md-2 col-sm-4 col-6 mb-3">
                <div class="card text-center">
                  <div class="card_img mx-auto">
                    <img src="images/professionals.png" alt="Professionals" />
                  </div>
                  <h3 class="card_h3">Professionals</h3>
                </div>
              </div>
              <div class="col-md-2 col-sm-4 col-6 mb-3">
                <div class="card text-center">
                  <div class="card_img mx-auto">
                    <img src="images/houseKeeping.svg" alt="House Keeping" />
                  </div>
                  <h3 class="card_h3">House Keeping</h3>
                </div>
              </div>
            </div>
          
            <div class="row justify-content-center w-100 mt-4">
              <!-- Row 2: Next 5 cards -->
              <div class="col-md-2 col-sm-4 col-6 mb-3">
                <div class="card text-center">
                  <div class="card_img mx-auto">
                    <img src="images/securityServices.png" alt="IT-rental" />
                  </div>
                  <h3 class="card_h3">Security Services</h3>
                </div>
              </div>
              <div class="col-md-2 col-sm-4 col-6 mb-3">
                <div class="card text-center">
                  <div class="card_img mx-auto">
                    <img src="images/furniture.svg" alt="Patient Care" />
                  </div>
                  <h3 class="card_h3">Furniture On Hire</h3>
                </div>
              </div>
              <div class="col-md-2 col-sm-4 col-6 mb-3">
                <div class="card text-center">
                  <div class="card_img mx-auto">
                    <img src="images/transport.svg" alt="Appliance Repair" />
                  </div>
                  <h3 class="card_h3">Transport Services</h3>
                </div>
              </div>
              <div class="col-md-2 col-sm-4 col-6 mb-3">
                <div class="card text-center">
                  <div class="card_img mx-auto">
                    <img src="images/weddingServices.png" alt="Professionals" />
                  </div>
                  <h3 class="card_h3">Wedding Services</h3>
                </div>
              </div>
              <div class="col-md-2 col-sm-4 col-6 mb-3">
                <div class="card text-center">
                  <div class="card_img mx-auto">
                    <img src="images/webDeveloper.svg" alt="House Keeping" />
                  </div>
                  <h3 class="card_h3">Web Developer & Designer</h3>
                </div>
              </div>
            </div>
          
            <div class="row justify-content-center w-100 mt-4">
              <!-- Row 3: Next 5 cards -->
              <div class="col-md-2 col-sm-4 col-6 mb-3">
                <div class="card text-center">
                  <div class="card_img mx-auto">
                    <img src="images/professionals.svg" alt="Patient Care" />
                  </div>
                  <h3 class="card_h3">Professional Cleaning Expert</h3>
                </div>
              </div>
              <div class="col-md-2 col-sm-4 col-6 mb-3">
                <div class="card text-center">
                  <div class="card_img mx-auto">
                    <img src="images/co-workingSpace.svg" alt="Appliance Repair" />
                  </div>
                  <h3 class="card_h3">Co-Working Space & Estate Agent</h3>
                </div>
              </div>
              <div class="col-md-2 col-sm-4 col-6 mb-3">
                <div class="card text-center">
                  <div class="card_img mx-auto">
                    <img src="images/Salon.svg" alt="Professionals" />
                  </div>
                  <h3 class="card_h3">Salon At Home</h3>
                </div>
              </div>
              <div class="col-md-2 col-sm-4 col-6 mb-3">
                <div class="card text-center">
                  <div class="card_img mx-auto">
                    <img src="images/HomePainting.svg" alt="House Keeping" />
                  </div>
                  <h3 class="card_h3">Home Painting</h3>
                </div>
              </div>
            </div>
          </div>
    </div>

  <div class="addPlacement">
    <app-ad-placement></app-ad-placement>
  </div>
  <!-- Testimonials -->
  <div class="pt-5">
    <app-testimonial></app-testimonial>
  </div>
  <!--  -->

  