
   <div class="page-scrum">
    <div class="container">
      <p class="m-0">
        <i class="fa-solid fa-house"></i> Home &nbsp; > &nbsp;
        <span>Services</span>
      </p>
    </div>
  </div>
  
   <!-- <div class="page-scrum">
    <div class="container">
      <p class="m-0">
  <app-page-breadcrumb></app-page-breadcrumb>
  </p>
  </div>
  </div> -->
  
  <div class="container p-4 mb-3">
    <div class="card_background card_backgroundImg">
         <!-- Row 0: 5 cards -->
            <div class="row justify-content-center w-100 mt-4 mobileRow">
              <div class="col-md-2 col-sm-4 col-6 mb-3" *ngFor="let card of services">
                  <div class="card text-center clickable" (click)="goToRental()">
                    <div class="card_img mx-auto">
                      <img [src]="card.image" [alt]="card.title"/>
                    </div>
                    <h3 class="card_h3">{{card.title}}</h3>
                  </div>
                </div>
              </div>
              
              <!-- Row 1: 5 cards -->
              <div class="row justify-content-center w-100 mt-4 mobileRow">
                <div class="col-md-2 col-sm-4 col-6 mb-3" *ngFor="let card of services2">
                    <div class="card text-center clickable" (click)="goToRental()">
                      <div class="card_img mx-auto">
                        <img [src]="card.image" [alt]="card.title"/>
                      </div>
                      <h3 class="card_h3">{{card.title}}</h3>
                    </div>
                  </div>
                </div>
                <!-- Row 2: 4 cards -->
              <div class="row justify-content-center w-100 mt-4 mobileRow">
                <div class="col-md-2 col-sm-4 col-6 mb-3" *ngFor="let card of services3">
                    <div class="card text-center clickable" (click)="goToRental()">
                      <div class="card_img mx-auto">
                        <img [src]="card.image" [alt]="card.title"/>
                      </div>
                      <h3 class="card_h3">{{card.title}}</h3>
                    </div>
                  </div>
                </div>
             </div>
             </div>
              
  <div class="addPlacement">
    <app-ad-placement></app-ad-placement>
  </div>
  <!-- Testimonials -->
  <div class="pt-5">
    <app-testimonial></app-testimonial>
  </div>
  <!--  -->

  