<app-page-breadcrumb></app-page-breadcrumb>
<!--  -->
<div class="container p-2">
  <button
    (click)="showFilter = true"
    *ngIf="!showFilter"
    class="btn show-filter-btn fw-bold d-block d-sm-none"
    style="color: #008cac; border: 1px solid #008cac"
  >
    Show Filters
  </button>
  <div class="row gapCard">
    <div
      class="col-sm-3 me-5 position-relative d-sm-block"
      style="z-index: 1"
      [class.d-none]="!showFilter"
    >
      <mat-icon
        (click)="showFilter = false"
        class="position-absolute d-sm-none d-block"
        style="color: black; right: 1rem; top: 1rem"
        >cancel</mat-icon
      >
      <!--  -->
      <!-- <div class="container mt-5">
        <h2 class="fw-bold fs-4">CATEGORY</h2>
        <mat-radio-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="selectedServiceCategory"
          (change)="onCategoryChange($event)"
        >
          @for (category of categoriesList; track category) {

          <mat-radio-button
            class="example-radio-button"
            [value]="category.mainId"
            >{{ category.classificationName }}</mat-radio-button
          >
          }
        </mat-radio-group>
      </div>
      <hr /> -->

      <!-- LocationArea -->
      <!-- <div class="container">
        <h2 class="fw-bold fs-4">AREA</h2>
        <div class="location_search">
          <i class="fa-solid fa-location-dot"></i>
          <div style="width: 300px;">
            <input
              type="text"
              [(ngModel)]="searchInput"
              (input)="onInputChange()"
              placeholder="Type to search for a location..."
              class="autocomplete-input location-auto"
            />
            <select *ngIf="predictions.length > 0" size="5" (change)="selectPrediction($event)" class="select-location" #selectDropdown>
              <option *ngFor="let prediction of predictions" [value]="prediction.description" class="search-option">
                <i class="fa-solid fa-location-dot"></i> {{ prediction.description }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <hr /> -->
      <div class="container">
        <h2 class="fw-bold fs-4 pt-5">Services</h2>
        <!--  -->
        <mat-checkbox-group
          aria-labelledby="example-radio-group-label"
          class="example-radio-group"
          [(ngModel)]="selectedCategory"
          >
          <!--  (click)="onCheckboxChange(selectedCategory)" //{{ selectedServiceCategory }}-{{ selectedCategory }}-->
          @for (subCategory of categories; track subCategory) {
          <mat-checkbox
            class="example-radio-button"
            [value]="subCategory.SubId"
            [checked]="subCategory.isChecked"
            (change)="onCheckboxChange(subCategory, $event)"
            >{{ subCategory.SubClassificationName }}</mat-checkbox
          >
          }
        </mat-checkbox-group>
      </div>
      <hr />
      <!--  -->
      <div class="container bg-offer" *ngFor="let list of offerListData">
        <img [src]="list.Image" alt="" class="mb-4 mt-4" />
        <!-- <div class="fw-bold fs-6">{{list.percentage}}% OFF On {{list.couponDescription}}</div>
        <p>{{list.percentage}}% OFF up to {{list.currency}} {{list.amount}}</p> -->
      </div>

      <!--  -->
    </div>
    <!-- ServiceDetail -->

    <div class="col-sm-8 card_backgroundImg pt-5">
      <div class="row">
        <section>
          <div class="example-button-row">
            <!-- <button mat-raised-button>Basic</button> -->
            <a mat-raised-button (click)="navigateToServiceRate()"
              >Spare part rate</a
            >
          </div>
        </section>
        <!-- GridContainer -->
        @if(servicesDetails.length){
        <div class="grid-container">
             <div
              class="grid-item card serviceDetail"
              *ngFor="let card of servicesDetails | paginate : ((paginator$) | async)"
            >
              <div (click)="goToDetail(card)" class="clickable">
                <img
                  [src]="
                    card.imagepath ? card.imagepath : 'images/No_Image_Available.jpg'
                  "
                  class="img-fluid"
                />
                <h6 class="text-start fw-bold pt-3 vender-name">
                  {{ card?.vendorname }}
                </h6>
                <!-- <div class="Staff">
                SubGroupName <span>{{ card.item.subgroupname }}</span>
              </div> -->
                <div class="Staff mb-2 text-start">
                  <span class="text-start main-name">{{ card?.maingroupname }}</span>
                  <span>{{ card?.subgroupname }}</span>
                </div>
                <!-- <div class="charge pt-2">Monthly Charge For</div> -->
                <div class="price">₹ {{ card?.rate }}</div>
                <hr />
                <div class="distance">
                  Distance : {{ card?.vender?.distance | json}} KM
                  <app-rating-star
                    [rating]="calculateAverageRating(card.reviews)"
                    [starCount]="5"
                    [color]="'yellow'"
                    
                    (ratingUpdated)="onRatingUpdated($event)"
                  >
                  </app-rating-star>
                </div>
              </div>
            </div>
         
        </div>
      }@else {
        <div class="no-service">No Service Available</div>
      }
        <!-- ContainerGridClosed -->
      </div>
    </div>
  </div>

  <div>&nbsp;</div>
  <div class="originalPaginator" ngSkipHydration>
    <mat-paginator
      style-paginator
      [pageSize]="pageSize"
      [pageIndex]="pageIndex"
      [pageSizeOptions]="pageSizeOptions"
      (page)="onPageChange($event)"
      [length]="totalItems"
      aria-label="Select page"
    >
    </mat-paginator>

  </div>

  <div class="addPlacement mb-5">
    <app-ad-placement></app-ad-placement>
  </div>
</div>
