<!-- <div class="page-scrum mb-5">
  <div class="container">
    <p class="m-0">
      <i class="fa-solid fa-house"></i> Home &nbsp; > &nbsp  &nbsp; > &nbsp; My Cart  &nbsp; > &nbsp;
      <span>Checkout</span>
    </p>
  </div>
</div> -->
<app-page-breadcrumb></app-page-breadcrumb>


<!--  -->
<div class="container pt-5">
    <div class="left-column">
      <form [formGroup]="checkout" >
        <!-- (ngSubmit)="onSubmit()" -->
      <!-- Select Address Section -->
      <div class="select-address shadow-lg p-5 rounded-4">
        <h3>Select Your Address</h3>
        <!--  -->
        <div class="mt-4">
          
            <!-- Name -->
            <div class="name-form-grid-container">
              <!-- Address -->
              <div class="form-grid-item">
        <label for="">Name</label>
        <div
        class="position-relative d-flex justify-content-center align-items-center"
      >
        <input
          id="firstName"
          name="firstName"
          type="text"
          autocomplete="firstName"
          formControlName="firstName"
          required
          placeholder="First Name"
          class="form-control pe-3 rounded-2 border-1 text-muted"
          (keypress)="noSpace($event)"
        />

      </div>
        <!-- FUllName-Error -->
        <div
          *ngIf="
            checkout.get('firstName')?.invalid && checkout.get('firstName')?.touched
          "
          class="d-flex justify-content-end text-danger"
        >
          <span *ngIf=" checkout.get('firstName')?.errors?.['required']">
            <i
              class="fa fa-exclamation-triangle"
              style="color: #fe3061"
              aria-hidden="true"
            ></i
            >Required
          </span>
          <span
            *ngIf="checkout.get('firstName')?.errors?.['pattern'] && !checkout.get('firstName')?.errors?.['required']"
          >
            <i
              class="fa fa-exclamation-triangle"
              style="color: #fe3061"
              aria-hidden="true"
            ></i>
            Invalid FirstName
          </span>
        </div>
        </div>
        <!-- <div class="form-grid-item">
          <label for="">LastName</label>
          <div
          class="position-relative d-flex justify-content-center align-items-center"
        >
          <input
            id="lastName"
            name="lastName"
            type="text"
            autocomplete="lastName"
            formControlName="lastName"
            required
            placeholder="Last Name"
            class="form-control pe-3 rounded-2 border-1 text-muted"
            (keypress)="noSpace($event)"
          />
  
        </div>
          
          </div> -->
        </div>
        <!-- NewAddress -->
        <div class="form-grid-container">
          <!-- Address -->
          <div class="form-grid-item">
            <label for="address">Address</label>
            <input
              id="address"
              name="address"
              type="text"
              autocomplete="address"
              formControlName="address"
              required
              placeholder="Address"
              class="form-control pe-3 rounded-2 border-1 text-muted"
             
            />
            <div
              *ngIf="
                checkout.get('address')?.invalid && checkout.get('address')?.touched
              "
              class="d-flex justify-content-end text-danger"
            >
              <span *ngIf="checkout.get('address')?.errors?.['required']">
                <i
                  class="fa fa-exclamation-triangle"
                  style="color: #fe3061"
                  aria-hidden="true"
                ></i>
                Required
              </span>
              <span
                *ngIf="checkout.get('address')?.errors?.['pattern'] && !checkout.get('address')?.errors?.['required']"
              >
                <i
                  class="fa fa-exclamation-triangle"
                  style="color: #fe3061"
                  aria-hidden="true"
                ></i>
                Invalid Address
              </span>
            </div>
          </div>
        
          <!-- Email -->
          <div class="form-grid-item">
            <label for="email">Email</label>
            <input
              id="email"
              name="email"
              type="text"
              autocomplete="email"
              formControlName="email"
              required
              placeholder="Email"
              class="form-control pe-3 rounded-2 border-1 text-muted"
              (keypress)="noSpace($event)"
            />
            <div
              *ngIf="checkout.get('email')?.invalid && checkout.get('email')?.touched"
              class="d-flex justify-content-end text-danger"
            >
              <span *ngIf="checkout.get('email')?.errors?.['required']">
                <i
                  class="fa fa-exclamation-triangle"
                  style="color: #fe3061"
                  aria-hidden="true"
                ></i>
                Required
              </span>
              <span
                *ngIf="checkout.get('email')?.errors?.['pattern'] && !checkout.get('email')?.errors?.['required']"
              >
                <i
                  class="fa fa-exclamation-triangle"
                  style="color: #fe3061"
                  aria-hidden="true"
                ></i>
                Invalid email
              </span>
            </div>
          </div>
        
          <!-- Phone Number -->
          <div class="form-grid-item">
            <label for="phone">Phone Number</label>
            <input
              id="phone"
              name="phone"
              type="text"
              autocomplete="phone"
              formControlName="phone"
              required
              maxlength="12"
              placeholder="Phone Number"
              class="form-control pe-3 rounded-2 border-1 text-muted"
              (keypress)="noSpace($event)"
            />
            <div
              *ngIf="
                checkout.get('phone')?.invalid &&
                checkout.get('phone')?.touched
              "
              class="d-flex justify-content-end text-danger"
            >
              <span *ngIf="checkout.get('phone')?.errors?.['required']">
                <i
                  class="fa fa-exclamation-triangle"
                  style="color: #fe3061"
                  aria-hidden="true"
                ></i>
                Contact Required
              </span>
              <span
                *ngIf="checkout.get('phone')?.errors?.['minlength'] && !checkout.get('phone')?.errors?.['required']"
              >
                <i
                  class="fa fa-exclamation-triangle"
                  style="color: #fe3061"
                  aria-hidden="true"
                ></i>
                Contact Number must be at least 10 digits
              </span>
              <span
                *ngIf="checkout.get('phone')?.errors?.['maxlength'] && !checkout.get('phone')?.errors?.['required']"
              >
                <i
                  class="fa fa-exclamation-triangle"
                  style="color: #fe3061"
                  aria-hidden="true"
                ></i>
                Contact Number cannot exceed 10 digits
              </span>
            </div>
          </div>
        </div>
      <!-- Region -->
      <div class="form-grid-container">
        <!-- Region -->
        <div class="form-grid-item">
          <label for="address">Region/State</label>
            <div class="custom-select-wrapper">
              <select id="state" formControlName="state" class="form-control pe-3 rounded-2 border-1 text-muted" (change)="onStateChange()">
                <!-- @for (State of states; track $index) {
                  <option [value]="State.value" [value]="State.value" [disabled]="!State.value"> {{State.text}} </option>
                } -->
                <option *ngFor="let state of states" [value]="state">{{ state }}</option>
              </select>
              <i class="fa-solid fa-angle-down"></i>
            </div>
        
          
          
          
          <!-- RegionError -->
          <div
            *ngIf="
              checkout.get('state')?.invalid && checkout.get('state')?.touched
            "
            class="d-flex justify-content-end text-danger"
          >
            <span *ngIf="checkout.get('state')?.errors?.['required']">
              <i
                class="fa fa-exclamation-triangle"
                style="color: #fe3061"
                aria-hidden="true"
              ></i>
              Required
            </span>
            <span
              *ngIf="checkout.get('address')?.errors?.['pattern'] && !checkout.get('address')?.errors?.['required']"
            >
              <i
                class="fa fa-exclamation-triangle"
                style="color: #fe3061"
                aria-hidden="true"
              ></i>
              Invalid State
            </span>
          </div>
        </div>
      
        <!-- City -->
        <div class="form-grid-item">
          <label for="address">City</label>
          <div class="custom-select-wrapper">
            <select id="city" formControlName="city" class="form-control pe-3 rounded-2 border-1 text-muted">
              <!-- @for (citie of cities; track $index) {
                <option [value]="citie.value" [value]="citie.value" [disabled]="!citie.value"> {{citie.text}} </option>
              } -->
              <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
            </select>
            <i class="fa-solid fa-angle-down"></i>
          </div>
          <!-- CityError -->
          <div
            *ngIf="
              checkout.get('city')?.invalid && checkout.get('city')?.touched
            "
            class="d-flex justify-content-end text-danger"
          >
            <span *ngIf="checkout.get('city')?.errors?.['required']">
              <i
                class="fa fa-exclamation-triangle"
                style="color: #fe3061"
                aria-hidden="true"
              ></i>
              Required
            </span>
            <span
              *ngIf="checkout.get('city')?.errors?.['pattern'] && !checkout.get('city')?.errors?.['required']"
            >
              <i
                class="fa fa-exclamation-triangle"
                style="color: #fe3061"
                aria-hidden="true"
              ></i>
              Invalid City
            </span>
          </div>
        </div>
      
        <!-- ZipCode -->
        <div class="form-grid-item mb-4">
          <label for="phone">Zip Code</label>
          <input
            id="zipCode"
            name="zipCode"
            type="text"
            autocomplete="zipCode"
            formControlName="zipCode"
            required
            maxlength="8"
            placeholder="zipCode"
            class="form-control pe-3 rounded-2 border-1 text-muted"
            (keypress)="noSpace($event)"
          />
          <!-- OpenFunction LocationDialog -->
          <!--  (click)="openLocationDialog()"
            readonly -->
            <!-- ZipError -->
          <div
            *ngIf="
              checkout.get('zipCode')?.invalid &&
              checkout.get('zipCode')?.touched
            "
            class="d-flex justify-content-end text-danger"
          >
            <span *ngIf="checkout.get('zipCode')?.errors?.['required']">
              <i
                class="fa fa-exclamation-triangle"
                style="color: #fe3061"
                aria-hidden="true"
              ></i>
              ZipCode Required
            </span>
            <!-- <span
              *ngIf="checkout.get('zipCode')?.errors?.['minlength'] && !checkout.get('zipCode')?.errors?.['required']"
            >
              <i
                class="fa fa-exclamation-triangle"
                style="color: #fe3061"
                aria-hidden="true"
              ></i>
              zipCode must be at least 8 digits
            </span> -->
            <span
              *ngIf="checkout.get('zipCode')?.errors?.['maxlength'] && !checkout.get('zipCode')?.errors?.['required']"
            >
              <i
                class="fa fa-exclamation-triangle"
                style="color: #fe3061"
                aria-hidden="true"
              ></i>
              zipCode cannot exceed 8 digits
            </span>
          </div>
        </div>
      </div>

      <!-- Select Date & Time -->
             <!--  -->
             <label for="">Select Date & Time</label>
             <div
             class="position-relative d-flex justify-content-center align-items-center"
           >
             <input
               id="date"
               name="date"
               type="text"
               autocomplete="date"
               formControlName="date"
               required
               placeholder=""
               class="form-control pe-3 rounded-2 border-1 text-muted"
               (keypress)="noSpace($event)"
               (click)="openDateTimePicker()"
               readonly
             />
             <div
             *ngIf="
               checkout.get('date')?.invalid &&
               checkout.get('date')?.touched
             "
             class="d-flex justify-content-end text-danger"
           >
             <span *ngIf="checkout.get('date')?.errors?.['required']">
               <i
                 class="fa fa-exclamation-triangle"
                 style="color: #fe3061"
                 aria-hidden="true"
               ></i>
               Date Required
             </span>
             </div>
           </div>
        <!--  -->
      
      </div>
      </div>
      <!--  -->
      <!-- Payment Section -->
      <div class="payment shadow-lg p-5">
        <h3>Payment</h3>
        <!-- Payment content here -->
        <div class="payment-card">

           <!-- Cash Free Option -->
           <div class="payment-option">
            <i class="fa-solid fa-wallet mb-2" style="color: #008cac;"></i>
            <div class="fw-bold mb-2">Pay Online</div>
            <input type="radio" name="paymentMethod" value="Cash Free" id="Cash Free" formControlName="paymentMethod"/>
          </div>
                
                  <div class="vertical-bar"></div>

          <div class="payment-option">
            <!-- <img src="path/to/payment1.png" alt="Payment Option 1" /> -->
            <i class="fa-solid fa-dollar-sign mb-2" style="color: #008cac;"></i>
            <div class="fw-bold mb-2">Cash On Delivery</div>
            <input type="radio" name="paymentMethod" value="Cash On Delivery" id="Cash On Delivery" formControlName="paymentMethod"/>

          </div>

          <!-- <div class="vertical-bar"></div>

        
          <div class="payment-option">
            <i class="fa-solid fa-v mb-2" style="color: #008cac;"></i>
            <div class="fw-bold mb-2">Venmo</div>
            <input type="radio" name="paymentMethod" value="Venmo"  id="Venmo" formControlName="paymentMethod"/>

          </div> -->
        
          <!-- <div class="vertical-bar"></div>
        
          <div class="payment-option">
            <i class="fa-brands fa-paypal mb-2" style="color: #008cac;"></i>
            <div class="fw-bold mb-2">Paypal</div>
            <input type="radio" name="paymentMethod" value="Paypal" id="Paypal"  formControlName="paymentMethod"/>

          </div> -->
        
          <!-- <div class="vertical-bar"></div>
        
          <div class="payment-option">
            <i class="fa-brands fa-amazon mb-2" style="color: #008cac;"></i>
            <div class="fw-bold mb-2">Amazon Pay</div>
            <input type="radio" name="paymentMethod" value="Amazon Pay" id="Amazon Pay"  formControlName="paymentMethod"/>
          </div>
        
          <div class="vertical-bar"></div> -->
        
          <!-- <div class="payment-option">
            <i class="fa-regular fa-credit-card mb-2" style="color: #008cac;"></i>
            <div class="fw-bold mb-2">Debit/Credit Card</div>
            <input type="radio" name="paymentMethod" value="Debit/Credit Card" id="Debit/Credit Card" checked  formControlName="paymentMethod"/>
          </div> -->
        </div>
        <!-- Code With Mat-Radio-Button -->
        <!-- <div class="payment-option">
          <i class="fa-regular fa-credit-card mb-2" style="color: #008cac;"></i>
          <div class="fw-bold mb-2">Debit/Credit Card</div>
          <mat-radio-group name="paymentOption" [(ngModel)]="selectedPaymentOption">
            <mat-radio-button value="option5" checked></mat-radio-button>
          </mat-radio-group>
        </div>
        </div> -->
        
              <!-- Name -->
        <!-- <label class="pt-4" for="">Name on Card</label>
        <div
        class="position-relative d-flex justify-content-center align-items-center"
      >
        <input
          id="nameOnCard"
          name="nameOnCard"
          type="text"
          autocomplete="nameOnCard"
          formControlName="nameOnCard"
          placeholder=""
          class="form-control pe-3 rounded-2 border-1 text-muted"
          (keypress)="noSpace($event)"
        />

      </div> -->
        <!-- FUllName-Error -->
        <!-- <div
          *ngIf="
            checkout.get('nameOnCard')?.invalid && checkout.get('nameOnCard')?.touched
          "
          class="d-flex justify-content-end text-danger"
        >
          <span *ngIf=" checkout.get('nameOnCard')?.errors?.['required']">
            <i
              class="fa fa-exclamation-triangle"
              style="color: #fe3061"
              aria-hidden="true"
            ></i
            >Required
          </span>
          <span
            *ngIf="checkout.get('nameOnCard')?.errors?.['pattern'] && !checkout.get('nameOnCard')?.errors?.['required']"
          >
            <i
              class="fa fa-exclamation-triangle"
              style="color: #fe3061"
              aria-hidden="true"
            ></i>
            Invalid Name On Card
          </span>
        </div> -->
      <!-- cardNumber -->
      <!-- <label for="cardNumber" class="pt-4">Card Number</label>
      <input
        type="text"
        id="cardNumber"
        formControlName="cardNumber"
        placeholder="Enter your card number"
        class="form-control"
      />
      <div *ngIf="cardNumber?.invalid && (cardNumber?.dirty || cardNumber?.touched)" class="text-danger">
        <div *ngIf="cardNumber?.errors?.['required']">Card number is required.</div>
        <div *ngIf="cardNumber?.errors?.['pattern']">Card number must be 16 digits.</div>
      </div>
    
  
    <div class="form-grid-containerPay">
      <div class="form-grid-itemPay">
        <label for="expiryDate">Expiry Date</label>
        <input
          type="text"
          id="expiryDate"
          formControlName="expiryDate"
          placeholder="MM/YY"
          class="form-control"
        />
        <div *ngIf="expiryDate?.invalid && (expiryDate?.dirty || expiryDate?.touched)" class="text-danger">
          <div *ngIf="expiryDate?.errors?.['required']">Expiry date is required.</div>
          <div *ngIf="expiryDate?.errors?.['pattern']">Enter a valid expiry date (MM/YY).</div>
        </div>
      </div>
  
      <div class="form-grid-itemPay">
        <label for="cvc">CVC</label>
        <input
          type="text"
          id="cvc"
          formControlName="cvc"
          placeholder="CVC"
          class="form-control"
        />
        <div *ngIf="cvc?.invalid && (cvc?.dirty || cvc?.touched)" class="text-danger">
          <div *ngIf="cvc?.errors?.['required']">CVC is required.</div>
          <div *ngIf="cvc?.errors?.['pattern']">CVC must be 3 or 4 digits.</div>
        </div>
      </div>
    </div> -->
        <!--  -->
      </div>
    </form>
    </div>
  
    <!-- Booking Summary Section -->
    <div class="right-column">
      <div class="booking-summary cards shadow-lg">
        <h3>Booking Summary</h3>
        <!-- Booking summary content here -->
        <div class="p-2">
          <!-- <img class="mx-1 img-fluid rounded" style="max-width:40px; height: 100%" [src]="cartItems[0].img" alt=""> -->
          <!-- <b>{{cartItems[0].productTitle}}</b> -->
       
          <div class="d-flex justify-content-between font pt-3">
              <p>Address</p>
            </div>
              <div>
                <!-- <p>2, 3, cityWalk, Dubai</p> -->
                 <p>{{ checkout.get('address')?.value }}</p>
              </div>
         
          <hr>
          <div class="d-flex justify-content-between">
              <span>Sub-Total</span>
              <strong>₹ {{sabTotal | number:'1.0-0'}}</strong>
          </div>
          <div class="d-flex justify-content-between">
            <span>Your Total Saving</span>
            <strong>{{sabTotalSaving | number:'1.0-0'}}</strong>
        </div>
        <hr>
        <div class="d-flex justify-content-between">
          <span> Total </span>
          <strong>₹ {{AmountToCheckout | number:'1.0-0'}}</strong>
      </div>
      <!--  -->
          <div class="cardButton d-flex justify-content-center pt-4">
              <!-- <button (click)="onSubmit()">Complete Booking</button> -->
              <!-- payment.component.html -->
<button (click)="createNewOrder()">Place Order</button>

          </div>
      </div>
      </div>
    </div>
  </div>
  