
  <div
  class="container loginContainer d-flex">
  <div
    class="dataContainer custom-container"
  >
    <div class="text-center mb-3 pt-3">
      <img
        class=""
        src="Icons/floppyLogo.png"
        alt="Your Company"
      />
      <h4 class="mt-3 fw-bold text-dark mat-display-medium welcome-back">Reset Password</h4>
      <p class="text-muted">Enter Email Address and a link to reset your <br>password will be sent to you</p>
    </div>

    <div class="mt-5">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- div -->
         
    <!-- LoginEmail -->
        <div
          class="position-relative d-flex justify-content-center align-items-center"
        >
          <input
            id="email"
            name="email"
            type="text"
            autocomplete="email"
            formControlName="emailOrPhone"
            required
            placeholder="Enter Email"
            class="form-control ps-5 pe-3 py-3 rounded-pill border-0 text-muted bg-dark bg-opacity-10 shadow-sm"
            (keypress)="noSpace($event)"
          />
          <div class="position-absolute item-align">
            <i class="fa-solid fa-envelope"></i>
          </div>
        </div>
          <!-- Email-Error -->
          <div
            *ngIf="
              loginForm.get('emailOrPhone')?.invalid && loginForm.get('emailOrPhone')?.touched
            "
            class="d-flex justify-content-end text-danger"
          >
          <span *ngIf=" loginForm.get('emailOrPhone')?.errors?.['required']">
            <i class="fa fa-exclamation-triangle" style="color: #fe3061;" aria-hidden="true"></i>Email Required
          </span>
          <span *ngIf="loginForm.get('emailOrPhone')?.errors?.['pattern'] && !loginForm.get('emailOrPhone')?.errors?.['required']">
            <i class="fa fa-exclamation-triangle" style="color: #fe3061;" aria-hidden="true"></i> Invalid Email </span>

    </div>

      <!-- ContactNumber -->
      <div
      class="position-relative d-flex justify-content-center align-items-center pt-3"
    >
      <!-- <div style="width: 90px; border-right: 1px solid rgba(0, 0, 0, 0.50);" class="position-absolute item-align">
    
        <select formControlName="country" class="form-control country-select bg-dark bg-opacity-10">
          <option *ngFor="let country of countries" [value]="country">
            <img src="https://flagcdn.com/gs.svg"  style="width: 20px; height: 20px;"/>
             {{ country.code}}
          </option>
        </select> -->
        <!-- <i class="fa-solid fa-caret-down dropdown-icon"></i> -->
      <!-- </div> -->
      <!--  -->
         <div style="width: 100px; border-right: 1px solid rgba(0, 0, 0, 0.50);" 
         class="position-absolute item-align">
      <ng-select
      [items]="countries"
      bindLabel="name"
      bindValue="code"
      formControlName="selectedCountry"
      [searchable]="false"
      placeholder="Select country"
      class="country-select bg-dark bg-opacity-10"
      (change)="onCountryChange($event)"
    >
      <!-- <ng-template ng-option-tmp let-item="item">
        <img [src]="item.flag" alt="Flag" width="20" class="me-2" />
      </ng-template> -->
      <ng-template ng-option-tmp let-item="item">
        <img [src]="item.flag" alt="Flag" width="20" class="me-2" /> {{ item.name }}
      </ng-template>
      <ng-template ng-label-tmp let-item="item">
        <img [src]="item.flag" alt="Flag" width="20" />
      </ng-template>
    </ng-select>
    
    </div>
      <input
        id="contactNumber"
        style="padding-left: 110px !important"
        name="contactNumber"
        type="text"
        autocomplete="contactNumber"
        formControlName="contactNumber"
        required
        placeholder=""
        class="form-control ps-5 pe-3 py-3 rounded-pill border-0 text-muted bg-dark bg-opacity-10 shadow-sm"
        (keypress)="noSpace($event)"
      
      />
    </div>
    
      <!-- contactNumber-Error -->
      <div
        *ngIf="
          loginForm.get('contactNumber')?.invalid && loginForm.get('contactNumber')?.touched
        "
        class="d-flex justify-content-end text-danger"
      >
      <!-- Contact Required Error -->
      <span *ngIf=" loginForm.get('contactNumber')?.errors?.['required']">
        <i class="fa fa-exclamation-triangle" style="color: #fe3061;" aria-hidden="true"></i>Contact Required
      </span>
      <!--contact Pattern Error -->
      <span *ngIf="loginForm.get('contactNumber')?.errors?.['pattern'] && !loginForm.get('contactNumber')?.errors?.['required']">
        <i class="fa fa-exclamation-triangle" style="color: #fe3061;" aria-hidden="true"></i> Invalid Contact Number </span>

          <!-- Contact Min Length Error -->
  <span *ngIf="loginForm.get('contactNumber')?.errors?.['minlength'] && !loginForm.get('contactNumber')?.errors?.['required']">
    <i class="fa fa-exclamation-triangle" style="color: #fe3061;" aria-hidden="true"></i> Contact Number must be Number at least 10 digits
  </span>

  <!-- Contact Max Length Error -->
  <span *ngIf="loginForm.get('contactNumber')?.errors?.['maxlength'] && !loginForm.get('contactNumber')?.errors?.['required']">
    <i class="fa fa-exclamation-triangle" style="color: #fe3061;" aria-hidden="true"></i> Contact Number cannot exceed 10 digits
  </span>
</div>

        <!-- Passoword -->
        <div
          class="position-relative pt-3 d-flex justify-content-center align-items-center"
        >
          <input
            id="password"
            name="password"
            [type]="passwordType"
            autocomplete="current-password"
            formControlName="password"
            required
            placeholder="Enter Password"
            class="form-control ps-5 pe-5 py-3 rounded-pill border-0 text-muted bg-dark bg-opacity-10 shadow-sm"
            (keypress)="noSpace($event)"
          />
          <div class="position-absolute item-align">
            <i class="fa-solid fa-lock"></i>
          </div>
          <div
            class="position-absolute item-align-new"
            (click)="togglePassword()"
          >
            <i
              [ngClass]="{
                'fa-eye-slash': passwordType === 'password',
                'fa-eye': passwordType === 'text'
              }"
              class="fa-solid"
            ></i>
          </div>
        </div>
          <!-- Password-Error -->
          <div
            *ngIf="
              loginForm.get('password')?.invalid &&
              loginForm.get('password')?.touched
            "
            class="d-flex justify-content-end text-danger"
          >
            Password is required and must be at least 6 characters.
          </div>
          <!--  -->
             <!-- Confirm Passoword -->
        <div
        class="position-relative pt-3 d-flex justify-content-center align-items-center"
      >
        <input
          id="confirmPassword"
          name="confirmPassword"
          [type]="confirmPasswordType"
          autocomplete="current-password"
          formControlName="confirmPassword"
          required
          placeholder="Enter Confirm Password"
          class="form-control ps-5 pe-5 py-3 rounded-pill border-0 text-muted bg-dark bg-opacity-10 shadow-sm"
          (keypress)="noSpace($event)"
        />
        <div class="position-absolute item-align">
          <i class="fa-solid fa-lock"></i>
        </div>
        <div
          class="position-absolute item-align-new"
          (click)="togglePassword()"
        >
          <i
            [ngClass]="{
              'fa-eye-slash': confirmPasswordType === 'confirmPassword',
              'fa-eye': confirmPasswordType === 'text'
            }"
            class="fa-solid"
          ></i>
        </div>
      </div>
        <!-- ConfirmPassword-Error -->
        <div
          *ngIf="
            loginForm.get('confirmPassword')?.invalid &&
            loginForm.get('confirmPassword')?.touched
          "
          class="d-flex justify-content-end text-danger"
        >
        <span *ngIf=" loginForm.get('confirmPassword')?.errors?.['required']">
          <i class="fa fa-exclamation-triangle" style="color: #fe3061;" aria-hidden="true"></i>
          Confirm Password is required and must be at least 6 characters.
        </span>
          
          <span *ngIf="loginForm.get('confirmPassword')?.errors?.['confirmPasswordValidator']">
            Passsword and Confirm Password didn't match.
          </span>  
        </div>

          <!-- Submit-Continue -->
        <div class="d-flex justify-content-center pt-3">
          <button
            type="submit"
            class="form-control bg-color btn btn-primary rounded-pill px-3 py-3 text-white shadow-sm"
            [disabled]="loginForm.invalid"
          >
            Continue
          </button>
        </div>
      </form>

      <p class="mt-4 text-center text-muted">
        Remember Password?
        <a class="fw-semibold text-decoration-underline txt-color"
        (click)="handleNavigation.emit('login')"
          >Login</a
        >
      </p>
    </div>
  </div>
  </div>