<div class="container loginContainer d-flex">
  <div class="dataContainer custom-container">
  
    <div class="text-center mb-3 pt-3">
      <div class="iconCancel pt-1"><mat-icon (click)="closeDialog()">cancel</mat-icon></div>
      <div class="logo">
        <img src="Icons/floppyLogo.png" alt="First Floppy Rental" />
      </div>
      <h4 class="mt-3 fw-bold text-dark mat-display-medium welcome-back">Reset Password</h4>
      <p class="text-muted">Enter Email Address and a link to reset your <br>password will be sent to you</p>
    </div>

    <div class="mt-5">
      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- div -->

        <!-- LoginEmail -->
        <div class="position-relative d-flex justify-content-center align-items-center">
          <input id="email" name="email" type="text" autocomplete="email" formControlName="emailOrPhone" required
            placeholder="Enter Email"
            class="form-control ps-5 pe-3 py-3 rounded-pill border-0 text-muted bg-dark bg-opacity-10 shadow-sm"
            (keypress)="noSpace($event)" />
          <div class="position-absolute item-align">
            <i class="fa-solid fa-envelope"></i>
          </div>
        </div>
        <!-- Email-Error -->
        <div *ngIf="
              loginForm.get('emailOrPhone')?.invalid && loginForm.get('emailOrPhone')?.touched
            " class="d-flex justify-content-end text-danger">
          <span *ngIf=" loginForm.get('emailOrPhone')?.errors?.['required']">
            <i class="fa fa-exclamation-triangle" style="color: #fe3061;" aria-hidden="true"></i> Email Required
          </span>
          <span
            *ngIf="loginForm.get('emailOrPhone')?.errors?.['pattern'] && !loginForm.get('emailOrPhone')?.errors?.['required']">
            <i class="fa fa-exclamation-triangle" style="color: #fe3061;" aria-hidden="true"></i> Invalid Email </span>

        </div>

        <!-- ContactNumber -->
        <div class="pt-3">

          <div
            class="w-100 position-relative d-flex justify-content-center align-items-center bg-dark rounded-pill bg-opacity-10 shadow-sm">

            <div class="image-field">
              @if (
              loginForm.get('selectedCountry')?.value?.flag
              ) {
              <img [src]="loginForm.get('selectedCountry')?.value.flag" width="20" class="me-2" />
              }
            </div>
            <mat-select formControlName="selectedCountry" panelWidth="250px" style="
              width: 80px;
              height: 42px;
              background: transparent;
              border: 0;
              padding: 0 15px !important;
            ">
              <mat-option *ngFor="let country of countries" [value]="country">
                <span>
                  <img [src]="country.flag" alt="{{ country.name }} flag" width="20" class="me-2" />
                  {{ country.name }}-{{ country.code }}
                </span>
              </mat-option>
            </mat-select>

            <span class="country-code px-2">{{loginForm.get('selectedCountry')?.value?.code}}</span>
            <input id="contactNumber" name="contactNumber" type="text" autocomplete="contactNumber"
              formControlName="contactNumber" required maxlength="12" placeholder="" style="height: 42px"
              class="w-100 border-0 text-muted bg-transparent" style="outline: none; box-shadow: none;"
              (keypress)="noSpace($event)" />
          </div>
        </div>

        <!-- contactNumber-Error -->
        <div *ngIf="
        loginForm.get('contactNumber')?.invalid &&
        loginForm.get('contactNumber')?.touched
        " class="d-flex justify-content-end text-danger">
          <!-- Contact Required Error -->
          <span *ngIf=" loginForm.get('contactNumber')?.errors?.['required']">
            <i class="fa fa-exclamation-triangle" style="color: #fe3061" aria-hidden="true"></i> Contact Required
          </span>

          <!-- Contact Min Length Error -->
          <span
            *ngIf="loginForm.get('contactNumber')?.errors?.['minlength'] && !loginForm.get('contactNumber')?.errors?.['required']">
            <i class="fa fa-exclamation-triangle" style="color: #fe3061" aria-hidden="true"></i>
            Contact Number must be Number at least 10 digits
          </span>

          <!-- Contact Max Length Error -->
          <span
            *ngIf="loginForm.get('contactNumber')?.errors?.['maxlength'] && !loginForm.get('contactNumber')?.errors?.['required']">
            <i class="fa fa-exclamation-triangle" style="color: #fe3061" aria-hidden="true"></i>
            Contact Number cannot exceed 10 digits
          </span>
        </div>

        <!-- Passoword -->
        <div class="position-relative pt-3 d-flex justify-content-center align-items-center">
          <input id="password" name="password" [type]="passwordType" autocomplete="current-password"
            formControlName="password" required placeholder="Enter Password"
            class="form-control ps-5 pe-5 py-3 rounded-pill border-0 text-muted bg-dark bg-opacity-10 shadow-sm"
            (keypress)="noSpace($event)" />
          <div class="position-absolute item-align">
            <i class="fa-solid fa-lock"></i>
          </div>
          <div class="position-absolute item-align-new" (click)="togglePassword()">
            <i [ngClass]="{
                'fa-eye-slash': passwordType === 'password',
                'fa-eye': passwordType === 'text'
              }" class="fa-solid"></i>
          </div>
        </div>
        <!-- Password-Error -->
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
          <!-- Required Error -->
          <div *ngIf="loginForm.get('password')?.errors?.['required']" style="font-size: 17px; text-align: right;">
            <i class="fa fa-exclamation-triangle" style="color: #fe3061" aria-hidden="true"></i> Password Required.
          </div>
          
          <!-- Minimum Length Error -->
          <div *ngIf="loginForm.get('password')?.errors?.['minlength'] && !loginForm.get('password')?.errors?.['required']" style="font-size: 17px; text-align: right;">
            <i class="fa fa-exclamation-triangle" style="color: #fe3061" aria-hidden="true"></i> Password must be at least 8 characters long.
          </div>
        
          <!-- Maximum Length Error -->
          <div *ngIf="loginForm.get('password')?.errors?.['maxlength'] && !loginForm.get('password')?.errors?.['required']" style="font-size: 17px; text-align: right;">
            <i class="fa fa-exclamation-triangle" style="color: #fe3061" aria-hidden="true"></i> Password must not exceed 14 characters.
          </div>
        
          <!-- Pattern Error -->
          <div *ngIf="loginForm.get('password')?.errors?.['pattern'] && !loginForm.get('password')?.errors?.['required']" style="font-size: 18px; text-align: right;">
            <i class="fa fa-exclamation-triangle" style="color: #fe3061" aria-hidden="true"></i> Password must contain First one uppercase letter and one special character.[e.g., Ranjan$].
          </div>
        </div>
        <!--  -->
        <!-- Confirm Passoword -->
        <div class="position-relative pt-3 d-flex justify-content-center align-items-center">
          <input id="confirmPassword" name="confirmPassword" [type]="confirmPasswordType === 'confirmPassword'?'password':'text'"
            autocomplete="current-password" formControlName="confirmPassword" required
            placeholder="Enter Confirm Password"
            class="form-control ps-5 pe-5 py-3 rounded-pill border-0 text-muted bg-dark bg-opacity-10 shadow-sm"
            (keypress)="noSpace($event)" />
          <div class="position-absolute item-align">
            <i class="fa-solid fa-lock"></i>
          </div>
          <div class="position-absolute item-align-new" (click)="toggleConfirmPassword()">
            <i [ngClass]="{
              'fa-eye-slash': confirmPasswordType === 'confirmPassword',
              'fa-eye': confirmPasswordType === 'text'
            }" class="fa-solid"></i>
          </div>
        </div>
        <!-- ConfirmPassword-Error -->
        <div *ngIf="
            loginForm.get('confirmPassword')?.invalid &&
            loginForm.get('confirmPassword')?.touched
          " class="d-flex justify-content-end text-danger">
          <span *ngIf=" loginForm.get('confirmPassword')?.errors?.['required']">
            <i class="fa fa-exclamation-triangle" style="color: #fe3061;" aria-hidden="true"></i>
            Confirm Password is required and must be at least 6 characters.
          </span>

          <span *ngIf="loginForm.get('confirmPassword')?.errors?.['confirmPasswordValidator']">
            Passsword and Confirm Password didn't match.
          </span>
        </div>

        <!-- Submit-Continue -->
        <div class="d-flex justify-content-center pt-3 clickable">
          <button type="submit"
            class="form-control bg-color btn btn-primary rounded-pill px-3 py-3 text-white shadow-sm"
            [disabled]="loginForm.invalid">
            Continue
          </button>
        </div>
      </form>

      <p class="mt-4 text-center text-muted">
        Remember Password?
        <a class="fw-semibold text-decoration-underline txt-color clickable"
          (click)="handleNavigation.emit('login')">Login</a>
      </p>
    </div>
  </div>
</div>