<div class="container loginContainer d-flex">
  <div class="dataContainer custom-container">
    <div class="text-center">
      <div class="iconCancel pt-2"><mat-icon (click)="closeDialog()">cancel</mat-icon></div>
      <div class="logo">
        <img src="Icons/floppyLogo.png" alt="First Floppy Rental" />
      </div>
      <h2 class="mt-3 fw-bold text-dark mat-display-medium welcome-back">
        Welcome Back
      </h2>
      <p class="mat-typography">Please Singup To Your Account</p>
    </div>

    <div class="mt-5">
      <form [formGroup]="signup" (ngSubmit)="onSubmit()">
        <!-- div -->

        <!-- FirstName -->
        <div class="position-relative d-flex justify-content-center align-items-center">
          <input id="firstName" name="firstName" type="text" autocomplete="firstName" formControlName="firstName"
            required placeholder="Enter First Name"
            class="form-control ps-5 pe-3 rounded-pill border-0 text-muted bg-dark bg-opacity-10 shadow-sm"
            (keypress)="noSpace($event)" />
          <div class="position-absolute item-align">
            <i class="fa-solid fa-user"></i>
          </div>
        </div>
        <!-- FirstName-Error -->
        <div *ngIf="
            signup.get('firstName')?.invalid && signup.get('firstName')?.touched
          " class="d-flex justify-content-end text-danger">
          <span *ngIf=" signup.get('firstName')?.errors?.['required']">
            <i class="fa fa-exclamation-triangle" style="color: #fe3061" aria-hidden="true"></i>Name Required
          </span>
          <span *ngIf="signup.get('firstName')?.errors?.['pattern'] && !signup.get('firstName')?.errors?.['required']">
            <i class="fa fa-exclamation-triangle" style="color: #fe3061" aria-hidden="true"></i>
            Invalid First Name
          </span>
          <span *ngIf="signup.get('firstName')?.errors?.['maxlength'] && signup.get('firstName')?.touched">
            <i class="fa fa-exclamation-triangle" style="color: #fe3061" aria-hidden="true"></i>
            First Name cannot exceed 50 characters.
          </span>
        </div>

        <!-- LastName -->
        <div class="position-relative d-flex justify-content-center align-items-center pt-3">
          <input id="lastName" name="lastName" type="text" autocomplete="lastName" formControlName="lastName" required
            placeholder="Enter Last Name"
            class="form-control ps-5 pe-3 rounded-pill border-0 text-muted bg-dark bg-opacity-10 shadow-sm"
            (keypress)="noSpace($event)" />
          <div class="position-absolute item-align">
            <i class="fa-solid fa-user"></i>
          </div>
        </div>
        <!-- LastName-Error -->
        <div *ngIf="
            signup.get('lastName')?.invalid && signup.get('lastName')?.touched
          " class="d-flex justify-content-end text-danger">
          <span *ngIf=" signup.get('lastName')?.errors?.['required']">
            <i class="fa fa-exclamation-triangle" style="color: #fe3061" aria-hidden="true"></i>Last Name Required
          </span>
          <span *ngIf="signup.get('lastName')?.errors?.['pattern'] && !signup.get('lastName')?.errors?.['required']">
            <i class="fa fa-exclamation-triangle" style="color: #fe3061" aria-hidden="true"></i>
            Invalid Last Name
          </span>
          <span *ngIf="signup.get('lastName')?.errors?.['maxlength'] && signup.get('lastName')?.touched">
            <i class="fa fa-exclamation-triangle" style="color: #fe3061" aria-hidden="true"></i>
            First Name cannot exceed 50 characters.
          </span>
        </div>

        <!-- LoginEmail -->
        <div class="position-relative d-flex justify-content-center align-items-center pt-3">
          <input id="email" name="email" type="text" autocomplete="email" formControlName="email" required
            placeholder="Enter Email"
            class="form-control ps-5 pe-3 rounded-pill border-0 text-muted bg-dark bg-opacity-10 shadow-sm"
            (keypress)="noSpace($event)" />
          <div class="position-absolute item-align">
            <i class="fa-solid fa-envelope"></i>
          </div>
        </div>
        <!-- Email-Error -->
        <div *ngIf="signup.get('email')?.invalid && signup.get('email')?.touched"
          class="d-flex justify-content-end text-danger">
          <span *ngIf=" signup.get('email')?.errors?.['required']">
            <i class="fa fa-exclamation-triangle" style="color: #fe3061" aria-hidden="true"></i>Email Required
          </span>
          <span *ngIf="signup.get('email')?.errors?.['pattern'] && !signup.get('email')?.errors?.['required']">
            <i class="fa fa-exclamation-triangle" style="color: #fe3061" aria-hidden="true"></i>
            Invalid email
          </span>
        </div>

        <!-- ContactNumber -->
        <div class="pt-3">

          <div
            class="w-100 position-relative d-flex justify-content-center align-items-center bg-dark rounded-pill bg-opacity-10 shadow-sm">

            <div class="image-field">
              @if (
              signup.get('selectedCountry')?.value?.flag
              ) {
              <img [src]="signup.get('selectedCountry')?.value.flag" width="20" class="me-2" />
              }
            </div>
            <mat-select formControlName="selectedCountry" panelWidth="250px" style="
                width: 80px;
                height: 42px;
                background: transparent;
                border: 0;
                padding: 0 15px !important;
              ">
              <mat-option *ngFor="let country of countries" [value]="country">
                <span>
                  <img [src]="country.flag" alt="{{ country.name }} flag" width="20" class="me-2" />
                  {{ country.name }}-{{ country.code }}
                </span>
              </mat-option>
            </mat-select>

            <span class="country-code px-2">{{signup.get('selectedCountry')?.value?.code}}</span>
            <input id="contactNumber" name="contactNumber" type="text" autocomplete="contactNumber"
              formControlName="contactNumber" required maxlength="12" placeholder="" style="height: 42px"
              class="w-100 border-0 text-muted bg-transparent" style="outline: none; box-shadow: none;"
              (keypress)="noSpace($event)" />
          </div>
        </div>

        <!-- contactNumber-Error -->
        <div *ngIf="
            signup.get('contactNumber')?.invalid &&
            signup.get('contactNumber')?.touched
          " class="d-flex justify-content-end text-danger">
          <!-- Contact Required Error -->
          <span *ngIf=" signup.get('contactNumber')?.errors?.['required']">
            <i class="fa fa-exclamation-triangle" style="color: #fe3061" aria-hidden="true"></i>Contact Required
          </span>
          <!--contact Pattern Error -->
          <!-- <span *ngIf="signup.get('contactNumber')?.errors?.['pattern'] && !signup.get('contactNumber')?.errors?.['required']">
        <i class="fa fa-exclamation-triangle" style="color: #fe3061;" aria-hidden="true"></i> Invalid Contact Number </span> -->

          <!-- Contact Min Length Error -->
          <span
            *ngIf="signup.get('contactNumber')?.errors?.['minlength'] && !signup.get('contactNumber')?.errors?.['required']">
            <i class="fa fa-exclamation-triangle" style="color: #fe3061" aria-hidden="true"></i>
            Contact Number must be Number at least 10 digits
          </span>

          <!-- Contact Max Length Error -->
          <span
            *ngIf="signup.get('contactNumber')?.errors?.['maxlength'] && !signup.get('contactNumber')?.errors?.['required']">
            <i class="fa fa-exclamation-triangle" style="color: #fe3061" aria-hidden="true"></i>
            Contact Number cannot exceed 10 digits
          </span>
        </div>

        <!-- Passoword -->
        <div class="position-relative pt-4 d-flex justify-content-center align-items-center">
          <input id="password" name="password" [type]="passwordType" autocomplete="current-password"
            formControlName="password" required placeholder="Enter Password"
            class="form-control ps-5 pe-5 rounded-pill border-0 text-muted bg-dark bg-opacity-10 shadow-sm"
            (keypress)="noSpace($event)" />
        
          <div class="position-absolute" style="left: 15px;">
            <i class="fa-solid fa-lock"></i>
          </div>
        
          <div class="position-absolute" style="right: 15px; cursor: pointer; z-index: 10;" (click)="togglePassword()">
            <i [ngClass]="{
                'fa-eye-slash': passwordType === 'password',
                'fa-eye': passwordType === 'text'
              }" class="fa-solid"></i>
          </div>
        </div>
        
        <!-- Password-Error -->
        <div *ngIf="signup.get('password')?.invalid && signup.get('password')?.touched" class="text-danger">
          <!-- Required Error -->
          <div *ngIf="signup.get('password')?.errors?.['required']" style="text-align: right;">

            <i class="fa fa-exclamation-triangle" style="color: #fe3061" aria-hidden="true"></i>
            Password Required.
          </div>
          
          <!-- Minimum Length Error -->
          <div *ngIf="signup.get('password')?.errors?.['minlength'] && !signup.get('password')?.errors?.['required']" style="text-align: right;">
            <i class="fa fa-exclamation-triangle" style="color: #fe3061" aria-hidden="true"></i>
            Password must be at least 8 characters long.
          </div>
        
          <!-- Maximum Length Error -->
          <div *ngIf="signup.get('password')?.errors?.['maxlength'] && !signup.get('password')?.errors?.['required']" style="text-align: right;">
            <i class="fa fa-exclamation-triangle" style="color: #fe3061" aria-hidden="true"></i>
            Password must not exceed 14 characters.
          </div>
        
          <!-- Pattern Error -->
          <div *ngIf="signup.get('password')?.errors?.['pattern'] && !signup.get('password')?.errors?.['required']" style="text-align: right;">
            <i class="fa fa-exclamation-triangle" style="color: #fe3061" aria-hidden="true"></i>
            Password must contain First one uppercase letter and one special character.[e.g., Ranjan$].
          </div>
        </div>
        
          
        

        <div class="d-flex justify-content-center pt-4 clickable">
          <button type="submit"
            class="form-control bg-color btn btn-primary rounded-pill px-3 py-3 text-white shadow-sm"
            >
            Create Account
          </button>
        </div>
      </form>

      <p class="mt-4 text-center text-muted clickable">
        Already have an account?
        <a class="fw-semibold text-decoration-underline txt-color" (click)="handleNavigation()">Login</a>
      </p>
    </div>
  </div>
</div>
<!-- </div> -->