<div class="footer">
    <div class="container">
        <footer class="py-5 px">
            <div class="row mt-3">
                <div class="col-lg-12 logo_footer">
                    <div class="footer_img">
                        <img src="images/floppy_logo.png" alt="">
                    </div>
                    <button>Become A Partner</button>
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <ul>
                                <li> <i class="fa-solid fa-location-dot"></i> Delhi</li>
                                <li> <i class="fa-solid fa-location-dot"></i> Noida</li>
                                <li> <i class="fa-solid fa-location-dot"></i> Faridabad</li>
                                <li> <i class="fa-solid fa-location-dot"></i> Gurgaon</li>
                                <li> <i class="fa-solid fa-location-dot"></i> Ghaziabad </li>
                                <li> <i class="fa-solid fa-location-dot"></i> Meerut</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <ul>
                                <li><i class="fa-solid fa-location-dot"></i> pune</li>
                                <li><i class="fa-solid fa-location-dot"></i> Mumbai</li>
                                <li><i class="fa-solid fa-location-dot"></i> Nagpur</li>
                                <li><i class="fa-solid fa-envelope"></i> firstfloppy&#64;gmail.com</li>
                                <li><i class="fa-solid fa-phone"></i> +91 875 1254 421</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <span>Our Sites</span>
                    <ul>
                        <li><a href="" class="text-decoration-none text-white">Home</a></li>
                        <li><a href="" class="text-decoration-none text-white">About Us</a></li>
                        <li><a href="" class="text-decoration-none text-white">Contact Us</a></li>
                        <li><a href="" class="text-decoration-none text-white">Loginn/Signup</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <span>Links</span>
                            <ul>
                                <li><a href="" class="text-decoration-none text-white">IT Rental</a></li>
                                <li><a href="" class="text-decoration-none text-white">Patient Care</a></li>
                                <li><a href="" class="text-decoration-none text-white">Electronics</a></li>
                                <li><a href="" class="text-decoration-none text-white">Professionals</a></li>
                                <li><a href="" class="text-decoration-none text-white">Wedding Services</a></li>
                                <li><a href="" class="text-decoration-none text-white">Software And Digital
                                        Marketing</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <ul class="mobile_margin">
                                <li><a href="" class="text-decoration-none text-white">House Keeping</a></li>
                                <li><a href="" class="text-decoration-none text-white">Security Services</a></li>
                                <li><a href="" class="text-decoration-none text-white">Furniture On Hire</a></li>
                                <li><a href="" class="text-decoration-none text-white">Transport Services</a></li>
                                <li><a href="" class="text-decoration-none text-white">Professional Cleaning Expert</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <span>Legal</span>
                    <ul>
                        <li><a href="" class="text-decoration-none text-white">Privacy Policy</a></li>
                        <li><a href="" class="text-decoration-none text-white">Terms & Conditions</a></li>
                        <li><a href="" class="text-decoration-none text-white">Refund, Cancellation, Return, Shipping
                                Policy</a></li>
                        <li><a href="" class="text-decoration-none text-white">Sitemap</a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <div class="copyright">
            <span>© 2024 first floppy Services Pvt. Ltd. All rights reserved.</span>
        </div>
    </div>
</div>