<!-- <div class="footer">
    <div class="container">
        <footer class="py-5 px">
            <div class="row mt-3">
                <div class="col-lg-12 logo_footer">
                    <div class="footer_img">
                        <img src="images/floppy_logo.png" alt="">
                    </div>
                    <button>Become A Partner</button>
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <ul>
                                <li> <i class="fa-solid fa-location-dot"></i> Delhi</li>
                                <li> <i class="fa-solid fa-location-dot"></i> Noida</li>
                                <li> <i class="fa-solid fa-location-dot"></i> Faridabad</li>
                                <li> <i class="fa-solid fa-location-dot"></i> Gurgaon</li>
                                <li> <i class="fa-solid fa-location-dot"></i> Ghaziabad </li>
                                <li> <i class="fa-solid fa-location-dot"></i> Meerut</li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <ul>
                                <li><i class="fa-solid fa-location-dot"></i> pune</li>
                                <li><i class="fa-solid fa-location-dot"></i> Mumbai</li>
                                <li><i class="fa-solid fa-location-dot"></i> Nagpur</li>
                                <li><i class="fa-solid fa-envelope"></i> firstfloppy&#64;gmail.com</li>
                                <li><i class="fa-solid fa-phone"></i> +91 875 1254 421</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <span>Our Sites</span>
                    <ul>
                        <li><a href="" class="text-decoration-none text-white">Home</a></li>
                        <li><a routerLink="/about" class="text-decoration-none text-white">About Us</a></li>
                        <li><a routerLink="/about" class="text-decoration-none text-white">Contact Us</a></li>
                        <li><a class="text-decoration-none text-white" (click)="openDialog()">Loginn/Signup</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-8">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <span>Links</span>
                            <ul>
                                <li><a href="" class="text-decoration-none text-white">IT Rental</a></li>
                                <li><a href="" class="text-decoration-none text-white">Patient Care</a></li>
                                <li><a href="" class="text-decoration-none text-white">Electronics</a></li>
                                <li><a href="" class="text-decoration-none text-white">Professionals</a></li>
                                <li><a href="" class="text-decoration-none text-white">Wedding Services</a></li>
                                <li><a href="" class="text-decoration-none text-white">Software And Digital
                                        Marketing</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <ul class="mobile_margin">
                                <li><a href="" class="text-decoration-none text-white">House Keeping</a></li>
                                <li><a href="" class="text-decoration-none text-white">Security Services</a></li>
                                <li><a href="" class="text-decoration-none text-white">Furniture On Hire</a></li>
                                <li><a href="" class="text-decoration-none text-white">Transport Services</a></li>
                                <li><a href="" class="text-decoration-none text-white">Professional Cleaning Expert</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2 col-md-4">
                    <span>Legal</span>
                    <ul>
                        <li><a href="" class="text-decoration-none text-white">Privacy Policy</a></li>
                        <li><a href="" class="text-decoration-none text-white">Terms & Conditions</a></li>
                        <li><a href="" class="text-decoration-none text-white">Refund, Cancellation, Return, Shipping
                                Policy</a></li>
                        <li><a href="" class="text-decoration-none text-white">Sitemap</a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <div class="copyright">
            <span>© 2024 first floppy Services Pvt. Ltd. All rights reserved.</span>
        </div>
    </div>
</div> -->

<div class="footer">
    <div class="container">
      <footer class="py-5 px">
        <div class="row mt-3">
          <div class="col-lg-12 logo_footer">
            <div class="footer_img">
              <img src="images/floppy_logo.png" alt="Logo">
            </div>
            <!-- <button>Become A Partner</button> -->
            <button (click)="openPartnerLink()">Become A Partner</button>
          </div>
  
          <!-- Dynamic Footer Sections -->
          <!-- <div class="col-lg-3 col-md-8" *ngFor="let section of footerList">
            <div class="row">
              <div class="col-lg-6 col-md-6">
                <span>{{ section.parameterDetail }}</span>
                <ul>
                  <li *ngFor="let item of section.footers">
                    <a [href]="item.url" class="text-decoration-none text-white"> <ng-container *ngIf="section.parameterDetail === 'Location'">
                        <i class="fa-solid fa-location-dot"></i> 
                      </ng-container>{{ item.tittle }}</a>
                  </li>
                </ul>
              </div>
            </div>
          </div> -->

          <div class="row justify-content-between">
            <div [class]="'col-lg-'+(widthPerSection)" *ngFor="let section of footerList">
              <div class="row">
                <div class="col-12">
                  <span>{{ section.parameterDetail }}</span>
                  <div class="row">
                    <ng-container *ngFor="let column of chunkArray(section.footers, 6)">
                      <div class="col-md-6">
                        <ul>
                          <li *ngFor="let item of column" style="font-size: 12px;">
                            <a [href]="item.url" class="text-decoration-none text-white" [attr.target]="section.parameterDetail === 'Social Media' ? '_blank' : null">
                              <ng-container *ngIf="section.parameterDetail === 'Location'">
                                <img *ngIf="item.tittle.includes('.com')" src="Icons/mail.svg" alt="Mail" style="height: 15px; width: 15px;">
                                <img *ngIf="item.tittle.includes('+91')" src="Icons/phone.svg" alt="Phone" style="height: 15px; width: 15px;">
                                <img *ngIf="!item.tittle.includes('+91') && !item.tittle.includes('.com')" src="Icons/Group.svg" alt="Group" style="height: 15px; width: 15px;">
                              </ng-container>
                              <ng-container *ngIf="section.parameterDetail === 'Social Media'">
                                <i class="fab fa-facebook" *ngIf="item.tittle === 'Facebook'"></i>
                                <i class="fab fa-twitter" *ngIf="item.tittle === 'Twitter'"></i>
                                <i class="fab fa-linkedin" *ngIf="item.tittle === 'LinkedIn'"></i>
                                <i class="fab fa-youtube" *ngIf="item.tittle === 'Youtube'"></i>
                                <i class="fab fa-instagram" *ngIf="item.tittle === 'Instagram'"></i>
                              </ng-container>
                              
                              {{ item.tittle }}
                            </a>
                          </li>
                        </ul>
                      </div>
                    </ng-container>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          


        </div>
      </footer>
  
      <div class="copyright">
        <span>© 2024 First Floppy Services Pvt. Ltd. All rights reserved.</span>
      </div>
    </div>
  </div>
  