<app-page-breadcrumb></app-page-breadcrumb>
<div class="container">
<div style="font-size: 15px;
    color: #606060;
    text-align: justify;
    background: white !important;
    /* margin-top: 1px; */
    /* padding-left: 110px;
    padding-right: 87px; */
    padding-top: 23px; 
">
  <b>  Refund , Cancellation, Return, Shipping  Policy</b>
    <hr>

    <h1>Return</h1>
<p>Product must be returned to us within 0 days from the date it has been delivered to the customer.
Product must be returned with all tags attached in its original condition along with all packing material,
courier receipt, invoice &amp; other papers. </p>
     <h1>Refund</h1>
    <p>
Once the Product is received to the company successfully, First Floppy will instantly initiate the
refund to your source account or chosen method of refund within 0 working days.   </p> 
     <h1>Refund and Cancellation for Service Provider Company</h1>
     
    <p>
Due to service providers in nature “NO REFUND”,“NO CANCELLATION” will be entertained once the
Payment has been made. </p>
    <h1>Cancellation Policy</h1>
    
    <p>
Please note an order can only be canceled within 24 hours of placing the order. Once the order is
processed after 24 hours, no cancellation request will be entertained.However return is possible for all
orders/products.
    </p>
     <h1>Shipping &amp; Delivery Policies -</h1>

 
 <p>First Floppy ships its products to almost all parts of India. Orders placed will be shipped within
24* hrs. We ship on all days except Sunday and National Holidays.
For all areas serviced by reputed couriers, the delivery time would be within 3 to 4 business days of
shipping (business days exclude Sundays and other holidays). For other areas the products will be
shipped through  and may take 1-2 weeks depending on location. At times there might be
unexpected delays in the delivery of your order due to unavoidable and undetermined logistics
challenges beyond our control for which First Floppy is not liable and would request its users to
cooperate as First Floppy continuously tries to nought such instances. Also, ---Company Name--
reserves the right to cancel your order at its sole discretion in cases where it takes longer than usual
delivery time or the shipment is physically untraceable and refund the amount paid for cancelled
product(s) to your source account.</p>



    











</div>
</div>