.page-scrum{
background-color: #f7f7f7;
padding: 10px;
}
.page-scrum p{
    font-size: 13px;
    color: grey;
}
.page-scrum span{
    font-size: 13px;
    color: #008CAC;
}
// ...............................................