<div class="header">
  <div class="container">
    <div class="header_top">
      <span><i class="fa-solid fa-mobile-screen-button"></i> Download Mobile App</span>
      <span>Need Help? Call Us : 91 306 91306</span>
    </div>
  </div>
</div>

<div class="navigation ">
  <div class="container">
    <div class="nav_container">
      <a class="navbar-brand" href="#">
        <div class="brand_logo">
          <img src="Icons/floppyLogo.png" alt="">
        </div>
      </a>
      <div class="hamburger" onclick="toggleMenu()">☰</div>
      <div class="nav_menu">
        <a class="nav-link" href="#">Home</a>
        <a class="nav-link" href="#">Services</a>
        <a class="nav-link" href="#">About us</a>
        <a class="nav-link" href="#">Blog</a>
      </div>
      <div class="login">
        <a class="nav-link" href=""><i class="fa-solid fa-cart-shopping"></i><span>cart</span></a>
        <a class="nav-link" href=""><i class="fa-solid fa-user"></i><span>login</span></a>
      </div>
    </div>
  </div>
</div>