.header {
  background-color: #1E3B43;
  color: #ffff;
  font-size: 14px;
  height: 50px;
}

.clickable {
  cursor: pointer;
}

.logo_img{
  width: 200px;
  height: fit-content;
}

.logo_img img{
  width: 100%;
}

.nav-item.active .nav-link {
  color: #008CAC; 
  font-weight: bold;
}

.nav-link {
  transition: color 0.3s ease;
}


.login_button{
  width: 100px;
  border: 1px solid #000;
  border-radius: 25px;
  text-align: center;
  font-weight: bold;
  color: #000;
}

.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.navigation {
  width: 100%;
  height: 100px;
}

nav {
  width: 100%;
  height: 100px;
}

.brand_logo {
  width: 300px;
  height: 100%;
}

.brand_logo img {
  width: 100%;
}


.nav_menu {
  display: flex;
  align-items: center;
}

.nav_menu a {
  padding: 5px 10px;
}

.login {
  display: flex;
  justify-content: end;
  align-items: center;
}

.login a {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.login i {
  color: #008CAC;
}

.login2 {
  display: flex;
  justify-content: end;
  align-items: center;
}

.login2 a {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.login2 i {
  color: #008CAC;
}

.navbar-toggler{
  border: none;
  outline: none;
}


.profile-navigation {
  display: none; /* Hide the options by default */
  position: absolute; /* Position the dropdown relative to the parent container */
  background-color: #fff; /* Background color for the dropdown */
  // border: 1px solid #ccc; /* Border for the dropdown */
  padding: 10px; /* Padding for the dropdown content */
  z-index: 1000; /* Ensure it appears above other elements */
  border-radius: 0px 0 10px 10px;
    width: 220px;
    left: -92px;
    top: 39px;
    padding-top: 50px;
    padding-left: 10px;
}

.profile-menu {
  position: relative; /* Create a positioning context for the dropdown */
}

.profile-menu:hover .profile-navigation {
  display: block; /* Show the options when hovering over the profile link */
}

.profile-navigation a {
  display: block; /* Each link on its own line */
  padding: 10px; /* Space between links */
  color: #333; /* Link color */
  text-decoration: none; /* Remove underline */
}

.profile-navigation a:hover {
  background-color: #008CAC; /* Highlight option on hover */
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}


@media (max-width: 992px) {
  .navbar-nav {
    text-align: left;
  }

  .navbar-collapse {
    width: 100%;
    z-index: 3;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #fff;
    padding-left: 20px;
    padding-bottom: 25px;
  }

  .navbar-nav .nav-item {
    margin-bottom: 0.5rem;
  }

  .mobile_menu {
    display: flex;
    flex-direction: column;
    justify-content: left;
  }

  .login2 {
    justify-content: start;
  }

  .login2 a {
    padding: 0px;
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .login2 i {
    margin: 5px
  }

  .mobile_menu{
    padding-left: 8px;
  }

}

.mat-badge-medium .mat-badge-content{
  background-color: #008CAC;
  margin: -3px -8px !important;
}

.location-auto{
  border: none;
  background: white;
  height: 34px;
  border-radius: 4px;
  width: 211px;
  padding: 10px;
}

.location-auto:active, .location-auto:focus{
  border: none;
  outline: none;
}
.location-auto::placeholder{
  font-size: 15px;
}
.search-option{
  padding: 10px;
}
.select-location{
  word-wrap: break-word;
  position: absolute;
  z-index: 1;
  top: 47px;
  left: 1%;
  width: auto;
  border: none;
  box-shadow: 0 10px 10px lightgray;
  overflow: auto;
  height: auto;
  max-width: 560px;
  z-index: 122;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-dialog {
  max-width: 500px;
  width: 100%;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}
