<div class="header">
  <div class="container">
    <div class="header_top">
      <div class="d-flex">
      <span class="downloadMobileNone" style="margin-top: 8px;"><i class="fa-solid fa-mobile-screen-button"></i> Download Mobile App  </span>
        <span class="ms-md-5">
          <div><div><i class="fa-solid fa-location-dot"></i> {{city}} <i (click)="openLocationPopup()" class="fa-solid fa-angle-down"></i>
          </div><div style="font-size: 11px; padding-left: 10px;">{{ this.address.length > 20 ? (this.address | slice:0:30) + '...' : this.address }}</div>
        </div>
        </span>
      </div>
     
     <span>
      
    </span>
      <span class="header_needhelpText">Call Us : 91306 91306</span>
    </div>
  </div>
</div>

<div class="container">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <div class="logo_img">
        <img src="Icons/floppyLogo.png" alt="Brand Logo">
      </div>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto centered mobile_menu">
          <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a class="nav-link fw-bold" routerLink="/" data-bs-toggle="collapse" data-bs-target="#navbarNav">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link fw-bold" routerLink="/services" data-bs-toggle="collapse" data-bs-target="#navbarNav">Services</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link fw-bold" routerLink="/about" data-bs-toggle="collapse" data-bs-target="#navbarNav">About Us</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link fw-bold" routerLink="/blog" data-bs-toggle="collapse" data-bs-target="#navbarNav">Blog</a>
          </li>
        </ul>        
        <ul class="navbar-nav ml-auto">
          <li class="nav-item login2" style="cursor: pointer;">
            <a class="nav-link" routerLink="/cart" data-bs-toggle="collapse" data-bs-target="#navbarNav"><i class="fa-solid fa-cart-shopping" [matBadge]="cartBadge ?cartBadge:''" ></i> Cart</a>
            <!-- (isLoggedIn$ | async) &&  -->
          </li>
          @if(isBrowser){
          <li class="nav-item">
            @if (isLoggedIn$ | async) {
              <div class="profile-menu">
               <div class="login2"><a class="nav-link clickable" routerLink="/profile"><i class="fa-solid fa-user" style="color: #008CAC;"></i> Profile</a></div> 
                <div class="profile-navigation">
                  <a routerLink="profile" routerLinkActive="active-link" data-bs-toggle="collapse" data-bs-target="#navbarNav"><i class="fa-solid fa-user-gear"></i> Account Setting</a>
                  <a routerLink="profile/my-booking" routerLinkActive="active-link" data-bs-toggle="collapse" data-bs-target="#navbarNav"><i class="fa-solid fa-clock-rotate-left"></i> My Bookings</a>
                  <a routerLink="log-out" routerLinkActive="active-link" (click)="logOut()" data-bs-toggle="collapse" data-bs-target="#navbarNav"><i class="fa-solid fa-arrow-right-from-bracket"></i> Log-out</a>
                </div>
              </div>
              
            }
            @else {
              <a (click)="openDialog()" class="nav-link clickable login_button">Login</a>
            }

          </li>
        }
        </ul>
      </div>
    </div>
  </nav>
</div>



<!-- Location Modal Popup -->
<div id="locationModal" class="modal" tabindex="-1" role="dialog" *ngIf="showLocationPopup" (click)="onBackdropClick($event)">
  <div class="modal-dialog" role="document" (click)="$event.stopPropagation()">
    <div class="modal-content">
      <div class="modal-body">
        <div class="search-bar">
          <i class="fa fa-search search-icon"></i>
          <input
            type="text"
            [(ngModel)]="searchInput"
            (input)="onInputChange()"
            placeholder="Search for your location"
            class="autocomplete-input location-auto"
          />
          <button class="current-location-btn" (click)="getCurrentLocation(true)">
            <i class="fa-solid fa-location-dot"></i> Use current location
          </button>
        </div>
      
        <select *ngIf="predictions.length > 0" size="5" (change)="selectPrediction($event)" class="select-location">
          <option *ngFor="let prediction of predictions" [value]="prediction.description" class="search-option">
            <i class="fa-solid fa-location-dot"></i> {{ prediction.description }}
          </option>
        </select>
      </div>
      
    </div>
  </div>
</div>
