.header {
  background-color: #1E3B43;
  color: #ffff;
  font-size: 14px;
  height: 50px;
}

.header_top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.navigation {
  width: 100%;
  height: 100px;
}

nav {
  width: 100%;
  height: 100px;
}

.brand_logo {
  width: 300px;
  height: 100%;
}

.brand_logo img {
  width: 100%;
}

.nav_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.nav_menu {
  display: flex;
  align-items: center;
}

.nav_menu a {
  padding: 5px 10px;
}

.login {
  display: flex;
  justify-content: end;
  align-items: center;
}

.login a {
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}



.login i {
  color: #008CAC;
}

@media (max-width: 992px) {
  .navbar-nav {
    text-align: left;
  }

  .navbar-nav .nav-item {
    margin-bottom: 0.5rem;
  }
  .mobile_menu{
    display: flex;
    flex-direction: column;
    justify-content: left;
  }
}

/* Rectangle 1462 */


