<div class="page-scrum">
  <div class="container">
    <p class="d-flex align-items-center">
      <i class="fa-solid fa-house"></i>
      <a routerLink="/">Home</a>
      <span>&nbsp; > &nbsp;</span>
      <span> <a [ngClass]="{'current-breadcrumb': !page && !last}" [routerLink]="'/' + base">{{ base | titlecase
          }}</a></span>
      <span *ngIf="page">&nbsp; > &nbsp;</span>
      <span *ngIf="page && !last"><a [routerLink]="base == 'services' ? './' : '/' + base + '/' + convertToSlug(page)" class="current-breadcrumb">{{ page |
          titlecase 
          }} </a></span>
           <span *ngIf="page && last"><a [routerLink]="'/' + base + '/' + convertToSlug(page)+'/'+last" class="current-breadcrumb">{{ page |
            titlecase 
            }} </a></span>
    </p>
  </div>
</div>