<div class="page-scrum">
  <div class="container">
    <p class="m-0">
      <i class="fa-solid fa-house"></i>
      <a routerLink="/">Home</a>
      <span>&nbsp; > &nbsp;</span>
      <span> <a [ngClass]="{'current-breadcrumb': !page && !last}" [routerLink]="'/' + base">{{ base | titlecase
          }}</a></span>
      <span *ngIf="page">&nbsp; > &nbsp;</span>
      <span *ngIf="page"><a [routerLink]="'/' + base + '/' + page" class="current-breadcrumb">{{ page |
          titlecase
          }}</a></span>
    </p>
  </div>
</div>