/* You can add global styles to this file, and also import other style files */
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

@font-face {
  font-family: 'Airbnb-bold';
  src: url('/src/assets/fonts/AirbnbCereal_W_Bd.otf');
}

@font-face {
  font-family: 'Airbnb';
  src: url('/src/assets/fonts/AirbnbCereal_W_Lt.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Airbnb';
  src: url('/src/assets/fonts/AirbnbCereal_W_Bk.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Airbnb';
  src: url('/src/assets/fonts/AirbnbCereal_W_Blk.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Airbnb';
  src: url('/src/assets/fonts/AirbnbCereal_W_Md.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Airbnb';
  src: url('/src/assets/fonts/AirbnbCereal_W_XBd.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Airbnb', sans-serif;
}
.cdk-overlay-dark-backdrop {
  background: rgba(0, 0, 0, 0.65);
}
.image-field {
  position: absolute;
  left: 15px;
}

.image-field + mat-select .mat-mdc-select-min-line {
  display: none;
}

.mat-mdc-radio-button .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__outer-circle, .mat-mdc-radio-button .mdc-radio__native-control:enabled:checked+.mdc-radio__background .mdc-radio__inner-circle {
  border-color: #008CAC !important;
}
.mat-mdc-radio-button .mat-internal-form-field{
  color: rgba(0, 0, 0, 0.6) !important;
  font-size: 16px !important;
}
.mdc-checkbox__native-control:enabled:checked~.mdc-checkbox__background, .mdc-checkbox__native-control:enabled:indeterminate~.mdc-checkbox__background{
  background-color: #008CAC !important;
  border-color: #008CAC !important;
}
.mat-mdc-checkbox .mat-internal-form-field{
  color: rgba(0, 0, 0, 0.6) !important;
  font-size: 16px !important;
}
.mat-mdc-raised-button:not(:disabled) {
  // color:#008CAC;
  color: black !important;
}
.mat-mdc-raised-button:not(:disabled) {
  border: 1px solid black !important;
}
/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
