.profile_details {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.08);
    padding: 40px;
    background-color: #fff;
}

.profile_navigation {
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 1px 35px 0px rgba(0, 0, 0, 0.08);
    padding: 20px;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.profile_navigation a {
    color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
}

.profile_navigation a:hover,
.profile_navigation a.active-link {
    color: #ffffff;
    background-color: #008CAC;
}

.profile_navigation i {
    margin-right: 10px;
}

.profile_img {
    width: 200px;
    height: 200px;
}




.profile_img img {
    width: 100%;
    border-radius: 50%;
}

select {
    width: 100%;
    padding: 10px 20px;
    border: none;
    font-size: 12px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.05);
}


input:focus, textarea:focus {
    outline: none;
} 


.input-wrapper {
    position: relative;
    display: inline-block;
}

.input-icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    color: #6c757d;
    /* Match the color with the input text color */
}

.input_name,
.input_box {
    width: 100%;
    border-radius: 25px;
    border: 0;
    color: #6c757d;
    background: rgba(0, 0, 0, 0.05);
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075);
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
}

.input_box {
    padding-left: 20px;
    padding-right: 10px;
}

.input_name {
    padding-left: 40px;
    padding-right: 10px;
}


.card_backgroundImg::after {
    content: "";
    background: url('../../../../../public/images/serviceBackground.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    width: 30%;
    height: 100%;
    top: 50;
    right: 0;
    z-index: -1;
}


@media (max-width: 991px){
    .mt_2{
        margin-top: 16px;
    }
    h2{
        text-align: center;
    }
}

.avatar-upload {
    position: relative;
    display: inline-block;
    margin-top: -10rem;
  }
  
  .avatar-preview {
    // position: relative;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ddd;
  }
  
  .avatar-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  #imageUpload {
    display: none;
  }
  
  .upload-icon {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
    font-size: 16px;
    color: #007bff;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  .load_more{
    color: #fff;
    background-color: #008cac;
    border: 2px solid #008cac;
    border-radius: 25px;
    padding: 10px 30px;
    font-weight: 500;
    margin-top: 10px;
    font-size: 16px;
}
:host ::ng-deep .mat-mdc-select-arrow-wrapper{
    margin-top: 9px;
}