<app-page-breadcrumb></app-page-breadcrumb>

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <div class="profile_navigation">
                <a routerLink="" routerLinkActive="active-link"><i class="fa-solid fa-user-gear"></i> Account
                    Setting</a>
                <a routerLink="my-booking" routerLinkActive="active-link"><i class="fa-solid fa-clock-rotate-left"></i>
                    My Bookings</a>
                <a routerLink="log-out" routerLinkActive="active-link" (click)="logOut()"><i
                        class="fa-solid fa-arrow-right-from-bracket"></i> Log-out</a>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="card_backgroundImg"></div>
            <div class="profile_details">
                <h2>Account Setting</h2>
                <form [formGroup]="profileForm" >
                    <div class="row">
                      <div class="col-lg-3 d-flex justify-content-center align-items-center">
                        <div class="avatar-upload">
                          <div class="avatar-preview">
                            <img 
                              class="profile-user-img img-circle"
                              id="imagePreview"
                              [src]="profileForm.get('profilePicture')?.value || 'images/profile_pic.png'" 
                              alt="User profile picture"
                            />
                            <input type="file" id="imageUpload" accept=".png, .jpg, .jpeg" (change)="onProfilePictureChange($event)" />
                            <label for="imageUpload" class="upload-icon">
                              <i class="fa fa-camera"></i>
                            </label>
                          </div>
                        </div>
                      </div>                      
                      <div class="col-lg-9">
                        <div class="row">
                          <div class="col-lg-6 d-flex flex-column">
                            <span class="fs-6 fw-bold mb-2">Full Name</span>
                            <div class="input-wrapper">
                              <span class="input-icon">
                                <i class="fas fa-user"></i>
                              </span>
                              <input id="name" formControlName="name" type="text" autocomplete="name"
                                     required placeholder="Enter Full Name" class="input_name" (keypress)="noSpace($event)" />
                            </div>
                          </div>
                          <div class="col-lg-6 mt_2">
                            <span class="fs-6 fw-bold">Phone Number</span>
                            <div class="w-100 mt-2 position-relative d-flex justify-content-center align-items-center bg-dark rounded-pill bg-opacity-10 shadow-sm">
                              <div class="image-field" *ngIf="profileForm.get('selectedCountry')?.value?.flag">
                                <img [src]="profileForm.get('selectedCountry')?.value.flag" width="20" class="me-2" />
                              </div>
                              <mat-select formControlName="selectedCountry"  (selectionChange)="onCountryChange($event)" #country panelWidth="250px" style="
                                    width: 80px;
                                    height: 42px;
                                    background: transparent;
                                    border: 0;
                                    padding: 0 15px !important;
                                  ">
                                <mat-option *ngFor="let country of countries" [value]="country">
                                  <span>
                                    <img [src]="country.flag" alt="{{ country.name }} flag" width="20" class="me-2" />
                                    {{ country.name }}-{{ country.code }}
                                  </span>
                                </mat-option>
                              </mat-select>
                              <span class="country-code px-2">{{ profileForm.get('selectedCountry')?.value?.code }}</span>
                              <input id="phone" formControlName="phone" type="text"
                                     autocomplete="phone" required maxlength="12" placeholder="" style="height: 42px"
                                     class="w-100 border-0 text-muted bg-transparent"
                                     style="outline: none; box-shadow: none;" (keypress)="noSpace($event)" />
                            </div>
                          </div>
                          <!-- <div class="col-lg-3 mt-3 d-flex flex-column">
                            <span class="fs-6 fw-bold mb-2">State</span>
                            <select formControlName="state" class="custom-select" id="state"  #state (change)="onStateChange($event)">
                              <option *ngFor="let state of states" [value]="state">{{ state.name }}</option>
                            </select>
                          </div> -->
                          <div class="col-lg-3 mt-3 d-flex flex-column">
                            <span class="fs-6 fw-bold mb-2">State</span>
                            <select formControlName="state" class="custom-select" id="state" (change)="onStateChange($event)">
                              <option *ngFor="let state of states" [value]="state.isoCode">{{ state.name }}</option>
                            </select>                            
                          </div>                        
                          <div class="col-lg-3 mt-3 d-flex flex-column">
                            <span class="fs-6 fw-bold mb-2">Pincode</span>
                            <input formControlName="pincode" placeholder="Pincode" class="input_box">
                          </div>
                          <div class="col-lg-3 mt-3 d-flex flex-column">
                            <span class="fs-6 fw-bold mb-2">Locality/Town</span>
                            <input formControlName="locality" type="text" placeholder="Locality/Town" class="input_box">
                          </div>
                          <div class="col-lg-3 mt-3">
                            <span class="fs-6 fw-bold">City</span>
                            <select formControlName="city" class="custom-select mt-2" id="city" #city (change)="onCityChange($event)">
                              <!-- <option value="delhi">Delhi</option>
                              <option value="pune">Pune</option> -->
                              <option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</option>
                            </select>
                          </div>
                          <div class="col-lg-12 mt-3">
                            <span class="fw-bold fs-6">Address</span>
                            <textarea formControlName="address" class="input_box" id="" rows="5"></textarea>
                          </div>
                        </div>
                        <button  class="load_more" (click)="onProfileSubmit()">
                          Save Change
                        </button>
      
                      </div>
                    </div>
                  </form>
                  
                 
            </div>
        </div>
    </div>
</div>